
@charset "utf-8";

/*
 * =================================================================================
 * INFORMATION
 * ---------------------------------------------------------------------------------
 * @File Name 	: Admin.css
 * @Description :  Admin Style Sheet
 * @Version 	: 1.0.0
 * @Create Date : 2012.08.21
 * @Update Date : N/A
 * @History		: N/A
 * =================================================================================
 */


/*=================================================================================
 * 관리자 // 온라인 상담 미처리 현황
 =================================================================================*/
/* 영역 */
.Adim-OnlineInfor 				{ padding-top:15px; background: url(/images/Admin/Admin_InforBg.gif) no-repeat left top;}
.Adim-OnlineInfor .Infor 		{ padding:0 20px 20px 20px; background:url(/images/Admin/Admin_InforBg.gif) no-repeat left bottom;}
.Adim-OnlineInfor .Infor li 		{ padding:0 10px 10px 178px; background:url(/images/Admin/Admin_InforImg.gif) no-repeat left top;} 
/* 정보 테이블 */
.On-untreat 						{ width:100%; border-top:2px #9c9c9c solid;}
.On-untreat thead tr th 		{ width:20%; padding:8px 0 7px 0; background-color:#ededed; border:0; border-right:1px #dad9d9 solid; color:#645c59;}
.On-untreat thead tr th.End 	{ border-right:0px;}
.On-untreat tbody tr th 			{ color:#645c59; border-right:1px #dad9d9 solid; border-bottom:1px #dad9d9 solid;}
.On-untreat tbody tr td 			{ text-align:center; padding:3px 0 3px 0; border-left:1px #dad9d9 solid; border-bottom:1px #dad9d9 solid; font-weight:bold; }

/*=================================================================================
 * 관라지 // 온라인 검색
 =================================================================================*/
/* 검색 영역 */
.Adim-InforSearch 					{ padding-top:15px; background: url(/images/Admin/Admin_SearchBg.gif) no-repeat left top;}
.Adim-InforSearch .Search 		{ padding:0 20px 20px 20px; background:url(/images/Admin/Admin_SearchBg.gif) no-repeat left bottom;}
.Adim-InforSearch .Search li		{ padding-left:160px; background:url(/images/Admin/Admin_SearchImg.gif) no-repeat left top;}
/* 검색 조건 */
.Adim-Search-Pre 					{ width:100%;}
.Adim-Search-Pre tr th 			{ text-align:left; width:50px; padding:6px 0 4px 9px; background:url(/images/icon/Icon_dot.gif) no-repeat left center;} 
.Adim-Search-Pre tr td input 	{ width:300px;}
.Adim-Search-Pre tr td.Btn 		{ width:200px;} 

/*=================================================================================
 * 관라지 // 그래프
 =================================================================================*/
.Graph-Infor { background: url(../images/Admin/Graph_Bg.gif) no-repeat left top;}
.Graph-Infor .Title { height:30px; float:left; background: url(../images/Admin/Graph_Title.gif) no-repeat left top;}
.Graph-Infor .Title li { padding-right:40px; margin-left:65px; color:#575757; font-size:14px; font-weight:bold; line-height:30px; background: url(../images/Admin/Graph_Title.gif) no-repeat right top;}
.Graph-Infor .Infor { clear:both; padding:12px 20px 28px 20px; background: url(../images/Admin/Graph_Bg.gif) no-repeat left bottom;}
.Graph-Infor .Infor li { border:1px #d2d2d2 solid; text-align:center; background:#f0f0f0 url(../images/Admin/Graph_Img01.gif) no-repeat center center; min-height:200px;}





