

 @charset "utf-8";

/**
 * =================================================================================
 * INFORMATION
 * ---------------------------------------------------------------------------------
 * @File Name 	: Button.css
 * @Description : 공통 Layout Style Sheet
 * @Version 	: 1.0.0
 * @Create Date  :  2012.04.20
 * @Update Date : 2012.06.14
 * @History		: N/A
 * =================================================================================
 */
 
/*=================================================================================
 * position style
 =================================================================================*/
.ButtonL { text-align:left; padding:5px;}/* 버튼 왼쪽 위치 */
.ButtonR { text-align:right; padding:5px;} /* 버튼 오른쪽 위치 */
.ButtonC { text-align:center; padding:5px;}/* 버튼 가운데 위치 */





/*=================================================================================
 * Basic Button Style Definition
 =================================================================================*/
/* Basic */
a.btn_Basic{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_default.gif) no-repeat 100% 0;font-family:'돋움',dotum;font-size:12px;color:#fff;line-height:25px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_Basic span,a.btn_Basic strong{display:block;padding:1px 8px 0 20px;background:url(../images/btn/bg_btn_default.gif) no-repeat;}  
a.btn_Basic:hover span,a.btn_Basic:hover strong{display:block; padding:1px 8px 0 20px;background:url(../images/btn/bg_btn_default.gif) no-repeat; color: #ffff00;}
/* Search */
a.btn_BSearch{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_default.gif) no-repeat 100% -25px; font-family:'돋움',dotum;font-size:12px;color:#fff;line-height:25px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_BSearch span,a.btn_BSearch strong{display:block;padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_default.gif) no-repeat 0 -25px; }  
a.btn_BSearch:hover span,a.btn_BSearch:hover strong{display:block; padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_default.gif) no-repeat 0 -25px; color: #ffff00;}
/* List */
a.btn_BList{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_default.gif) no-repeat 100% -50px; font-family:'돋움',dotum;font-size:12px;color:#fff;line-height:25px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_BList span,a.btn_BList strong{display:block;padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_default.gif) no-repeat 0 -50px; }  
a.btn_BList:hover span,a.btn_BList:hover strong{display:block; padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_default.gif) no-repeat 0 -50px; color: #ffff00;}
/* Writing */
a.btn_BWrite{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_default.gif) no-repeat 100% -75px; font-family:'돋움',dotum;font-size:12px;color:#fff;line-height:25px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_BWrite span,a.btn_BWrite strong{display:block;padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_default.gif) no-repeat 0 -75px; }  
a.btn_BWrite:hover span,a.btn_BWrite:hover strong{display:block; padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_default.gif) no-repeat 0 -75px; color: #ffff00;}
/* Close */
a.btn_BClose{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_default.gif) no-repeat 100% -100px; font-family:'돋움',dotum;font-size:12px;color:#fff;line-height:25px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_BClose span,a.btn_BClose strong{display:block;padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_default.gif) no-repeat 0 -100px; }  
a.btn_BClose:hover span,a.btn_BClose:hover strong{display:block; padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_default.gif) no-repeat 0 -100px; color: #ffff00;}
/* Print */
a.btn_BPrint{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_default.gif) no-repeat 100% -125px; font-family:'돋움',dotum;font-size:12px;color:#fff;line-height:25px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_BPrint span,a.btn_BPrint strong{display:block;padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_default.gif) no-repeat 0 -125px; }  
a.btn_BPrint:hover span,a.btn_BPrint:hover strong{display:block; padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_default.gif) no-repeat 0 -125px; color: #ffff00;}
/* SMS */
a.btn_BSMS{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_default.gif) no-repeat 100% -150px; font-family:'돋움',dotum;font-size:12px;color:#fff;line-height:25px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_BSMS span,a.btn_BSMS strong{display:block;padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_default.gif) no-repeat 0 -150px; }  
a.btn_BSMS:hover span,a.btn_BSMS:hover strong{display:block; padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_default.gif) no-repeat 0 -150px; color: #ffff00;}
/* Excel */
a.btn_BEx{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_default.gif) no-repeat 100% -175px; font-family:'돋움',dotum;font-size:12px;color:#fff;line-height:25px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_BEx span,a.btn_BEx strong{display:block;padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_default.gif) no-repeat 0 -175px; }  
a.btn_BEx:hover span,a.btn_BEx:hover strong{display:block; padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_default.gif) no-repeat 0 -175px; color: #ffff00;}
/* Excel Down */
a.btn_BExDw{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_default.gif) no-repeat 100% -200px; font-family:'돋움',dotum;font-size:12px;color:#fff;line-height:25px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_BExDw span,a.btn_BExDw strong{display:block;padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_default.gif) no-repeat 0 -200px; }  
a.btn_BExDw:hover span,a.btn_BExDw:hover strong{display:block; padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_default.gif) no-repeat 0 -200px; color: #ffff00;}
/* Excel Up */
a.btn_BExUp{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_default.gif) no-repeat 100% -225px; font-family:'돋움',dotum;font-size:12px;color:#fff;line-height:25px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_BExUp span,a.btn_BExUp strong{display:block;padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_default.gif) no-repeat 0 -225px; }  
a.btn_BExUp:hover span,a.btn_BExUp:hover strong{display:block; padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_default.gif) no-repeat 0 -225px; color: #ffff00;}
/* File */
a.btn_BFile{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_default.gif) no-repeat 100% -250px; font-family:'돋움',dotum;font-size:12px;color:#fff;line-height:25px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_BFile span,a.btn_BFile strong{display:block;padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_default.gif) no-repeat 0 -250px; }  
a.btn_BFile:hover span,a.btn_BFile:hover strong{display:block; padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_default.gif) no-repeat 0 -250px; color: #ffff00;}
/* File Down */
a.btn_BFileDw{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_default.gif) no-repeat 100% -275px; font-family:'돋움',dotum;font-size:12px;color:#fff;line-height:25px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_BFileDw span,a.btn_BFileDw strong{display:block;padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_default.gif) no-repeat 0 -275px; }  
a.btn_BFileDw:hover span,a.btn_BFileDw:hover strong{display:block; padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_default.gif) no-repeat 0 -275px; color: #ffff00;}
/* File Up */
a.btn_BFileUp{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_default.gif) no-repeat 100% -300px; font-family:'돋움',dotum;font-size:12px;color:#fff;line-height:25px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_BFileUp span,a.btn_BFileUp strong{display:block;padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_default.gif) no-repeat 0 -300px; }  
a.btn_BFileUp:hover span,a.btn_BFileUp:hover strong{display:block; padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_default.gif) no-repeat 0 -300px; color: #ffff00;}
/* 저장 */
a.btn_BSave{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_default.gif) no-repeat 100% -325px; font-family:'돋움',dotum;font-size:12px;color:#fff;line-height:25px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_BSave span,a.btn_BSave strong{display:block;padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_default.gif) no-repeat 0 -325px; }  
a.btn_BSave:hover span,a.btn_BSave:hover strong{display:block; padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_default.gif) no-repeat 0 -325px; color: #ffff00;}
/* 행추가 */
a.btn_BLadd{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_default.gif) no-repeat 100% -350px; font-family:'돋움',dotum;font-size:12px;color:#fff;line-height:25px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_BLadd span,a.btn_BLadd strong{display:block;padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_default.gif) no-repeat 0 -350px; }  
a.btn_BLadd:hover span,a.btn_BLadd:hover strong{display:block; padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_default.gif) no-repeat 0 -350px; color: #ffff00;}
/* 행삭제 */
a.btn_BLdel{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_default.gif) no-repeat 100% -375px; font-family:'돋움',dotum;font-size:12px;color:#fff;line-height:25px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_BLdel span,a.btn_BLdel strong{display:block;padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_default.gif) no-repeat 0 -375px; }  
a.btn_BLdel:hover span,a.btn_BLdel:hover strong{display:block; padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_default.gif) no-repeat 0 -375px; color: #ffff00;}
/* 평가위원추출완료 */
a.btn_BExComp{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_default.gif) no-repeat 100% -400px; font-family:'돋움',dotum;font-size:12px;color:#fff;line-height:25px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_BExComp span,a.btn_BExComp strong{display:block;padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_default.gif) no-repeat 0 -400px; }  
a.btn_BExComp:hover span,a.btn_BExComp:hover strong{display:block; padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_default.gif) no-repeat 0 -400px; color: #ffff00;}
/* 순위조정 */
a.btn_BRankMd{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_default.gif) no-repeat 100% -425px; font-family:'돋움',dotum;font-size:12px;color:#fff;line-height:25px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_BRankMd span,a.btn_BRankMd strong{display:block;padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_default.gif) no-repeat 0 -425px; }  
a.btn_BRankMd:hover span,a.btn_BRankMd:hover strong{display:block; padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_default.gif) no-repeat 0 -425px; color: #ffff00;}
/* 추출 */
a.btn_BExtra{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_default.gif) no-repeat 100% -450px; font-family:'돋움',dotum;font-size:12px;color:#fff;line-height:25px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_BExtra span,a.btn_BExtra strong{display:block;padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_default.gif) no-repeat 0 -450px; }  
a.btn_BExtra:hover span,a.btn_BExtra:hover strong{display:block; padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_default.gif) no-repeat 0 -450px; color: #ffff00;}
/* 자동추출 */
a.btn_BAutoEx{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_default.gif) no-repeat 100% -475px; font-family:'돋움',dotum;font-size:12px;color:#fff;line-height:25px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_BAutoEx span,a.btn_BAutoEx strong{display:block;padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_default.gif) no-repeat 0 -475px; }  
a.btn_BAutoEx:hover span,a.btn_BAutoEx:hover strong{display:block; padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_default.gif) no-repeat 0 -475px; color: #ffff00;}
/* 키워드추출 */
a.btn_BKEx{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_default.gif) no-repeat 100% -500px; font-family:'돋움',dotum;font-size:12px;color:#fff;line-height:25px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_BKEx span,a.btn_BKEx strong{display:block;padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_default.gif) no-repeat 0 -500px; }  
a.btn_BKEx:hover span,a.btn_BKEx:hover strong{display:block; padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_default.gif) no-repeat 0 -500px; color: #ffff00;}
/* 지정추출 */
a.btn_BAppEx{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_default.gif) no-repeat 100% -525px; font-family:'돋움',dotum;font-size:12px;color:#fff;line-height:25px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_BAppEx span,a.btn_BAppEx strong{display:block;padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_default.gif) no-repeat 0 -525px; }  
a.btn_BAppEx:hover span,a.btn_BAppEx:hover strong{display:block; padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_default.gif) no-repeat 0 -525px; color: #ffff00;}
/* 위원추출 */
a.btn_BMemEx{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_default.gif) no-repeat 100% -550px; font-family:'돋움',dotum;font-size:12px;color:#fff;line-height:25px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_BMemEx span,a.btn_BMemEx strong{display:block;padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_default.gif) no-repeat 0 -550px; }  
a.btn_BMemEx:hover span,a.btn_BMemEx:hover strong{display:block; padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_default.gif) no-repeat 0 -550px; color: #ffff00;}
/* 평가위원추출 */
a.btn_BAmemEx{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_default.gif) no-repeat 100% -575px; font-family:'돋움',dotum;font-size:12px;color:#fff;line-height:25px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_BAmemEx span,a.btn_BAmemEx strong{display:block;padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_default.gif) no-repeat 0 -575px; }  
a.btn_BAmemEx:hover span,a.btn_BAmemEx:hover strong{display:block; padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_default.gif) no-repeat 0 -575px; color: #ffff00;}
/* 이메일발송 */
a.btn_BEmail{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_default.gif) no-repeat 100% -600px; font-family:'돋움',dotum;font-size:12px;color:#fff;line-height:25px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_BEmail span,a.btn_BEmail strong{display:block;padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_default.gif) no-repeat 0 -600px; }  
a.btn_BEmail:hover span,a.btn_BEmail:hover strong{display:block; padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_default.gif) no-repeat 0 -600px; color: #ffff00;}
/* 삭제 */
a.btn_BDel{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_default.gif) no-repeat 100% -625px; font-family:'돋움',dotum;font-size:12px;color:#fff;line-height:25px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_BDel span,a.btn_BDel strong{display:block;padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_default.gif) no-repeat 0 -625px; }  
a.btn_BDel:hover span,a.btn_BDel:hover strong{display:block; padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_default.gif) no-repeat 0 -625px; color: #ffff00;}
/* 지표추가 */
a.btn_BIadd{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_default.gif) no-repeat 100% -650px; font-family:'돋움',dotum;font-size:12px;color:#fff;line-height:25px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_BIadd span,a.btn_BIadd strong{display:block;padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_default.gif) no-repeat 0 -650px; }  
a.btn_BIadd:hover span,a.btn_BIadd:hover strong{display:block; padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_default.gif) no-repeat 0 -650px; color: #ffff00;}




/*=================================================================================
 * In Table Style Definition
 =================================================================================*/
/* Basic */
a.btn_TBasic{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 100% 0;font-family:'돋움',dotum;font-size:11px;color:#444444;line-height:19px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_TBasic span,a.btn_TBasic strong{display:block;padding:1px 5px 0 15px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat;}  
a.btn_TBasic:hover span,a.btn_TBasic:hover strong{display:block; padding:1px 5px 0 15px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat; color: #ff6600;}
/* Search */
a.btn_TSearch{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 100% -25px; font-family:'돋움',dotum;font-size:11px;color:#444444;line-height:19px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_TSearch span,a.btn_TSearch strong{display:block;padding:1px 5px 0 20px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 0 -25px; }  
a.btn_TSearch:hover span,a.btn_TSearch:hover strong{display:block; padding:1px 5px 0 20px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 0 -25px; color: #ff6600;}
/* List */
a.btn_TList{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 100% -50px; font-family:'돋움',dotum;font-size:11px;color:#444444;line-height:19px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_TList span,a.btn_TList strong{display:block;padding:1px 5px 0 20px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 0 -50px; }  
a.btn_TList:hover span,a.btn_TList:hover strong{display:block; padding:1px 5px 0 20px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 0 -50px; color: #ff6600;}
/* Writing */
a.btn_TWrite{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 100% -75px; font-family:'돋움',dotum;font-size:11px;color:#444444;line-height:19px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_TWrite span,a.btn_TWrite strong{display:block;padding:1px 5px 0 20px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 0 -75px; }  
a.btn_TWrite:hover span,a.btn_TWrite:hover strong{display:block; padding:1px 5px 0 20px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 0 -75px; color: #ff6600;}
/* Close */
a.btn_TClose{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 100% -100px; font-family:'돋움',dotum;font-size:11px;color:#444444;line-height:19px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_TClose span,a.btn_TClose strong{display:block;padding:1px 5px 0 20px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 0 -100px; }  
a.btn_TClose:hover span,a.btn_TClose:hover strong{display:block; padding:1px 5px 0 20px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 0 -100px; color: #ff6600;}
/* Print */
a.btn_TPrint{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 100% -125px; font-family:'돋움',dotum;font-size:11px;color:#444444;line-height:19px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_TPrint span,a.btn_TPrint strong{display:block;padding:1px 5px 0 20px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 0 -125px; }  
a.btn_TPrint:hover span,a.btn_TPrint:hover strong{display:block; padding:1px 5px 0 20px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 0 -125px; color: #ff6600;}
/* SMS */
a.btn_TSMS{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 100% -150px; font-family:'돋움',dotum;font-size:11px;color:#444444;line-height:19px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_TSMS span,a.btn_TSMS strong{display:block;padding:1px 5px 0 20px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 0 -150px; }  
a.btn_TSMS:hover span,a.btn_TSMS:hover strong{display:block; padding:1px 5px 0 20px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 0 -150px; color: #ff6600;}
/* Excel */
a.btn_TEx{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 100% -175px; font-family:'돋움',dotum;font-size:11px;color:#444444;line-height:19px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_TEx span,a.btn_TEx strong{display:block;padding:1px 5px 0 20px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 0 -175px; }  
a.btn_TEx:hover span,a.btn_TEx:hover strong{display:block; padding:1px 5px 0 20px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 0 -175px; color: #ff6600;}
/* Excel Down */
a.btn_TExDw{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 100% -200px; font-family:'돋움',dotum;font-size:11px;color:#444444;line-height:19px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_TExDw span,a.btn_TExDw strong{display:block;padding:1px 5px 0 23px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 0 -200px; }  
a.btn_TExDw:hover span,a.btn_TExDw:hover strong{display:block; padding:1px 5px 0 23px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 0 -200px; color: #ff6600;}
/* Excel Up */
a.btn_TExUp{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 100% -225px; font-family:'돋움',dotum;font-size:11px;color:#444444;line-height:19px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_TExUp span,a.btn_TExUp strong{display:block;padding:1px 5px 0 23px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 0 -225px; }  
a.btn_TExUp:hover span,a.btn_TExUp:hover strong{display:block; padding:1px 5px 0 23px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 0 -225px; color: #ff6600;}
/* File */
a.btn_TFile{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 100% -250px; font-family:'돋움',dotum;font-size:11px;color:#444444;line-height:19px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_TFile span,a.btn_TFile strong{display:block;padding:1px 5px 0 20px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 0 -250px; }  
a.btn_TFile:hover span,a.btn_TFile:hover strong{display:block; padding:1px 5px 0 20px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 0 -250px; color: #ff6600;}
/* File Down */
a.btn_TFileDw{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 100% -275px; font-family:'돋움',dotum;font-size:11px;color:#444444;line-height:19px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_TFileDw span,a.btn_TFileDw strong{display:block;padding:1px 5px 0 23px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 0 -275px; }  
a.btn_TFileDw:hover span,a.btn_TFileDw:hover strong{display:block; padding:1px 5px 0 23px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 0 -275px; color: #ff6600;}
/* File Up */
a.btn_TFileUp{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 100% -300px; font-family:'돋움',dotum;font-size:11px;color:#444444;line-height:19px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_TFileUp span,a.btn_TFileUp strong{display:block;padding:1px 5px 0 23px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 0 -300px; }  
a.btn_TFileUp:hover span,a.btn_TFileUp:hover strong{display:block; padding:1px 5px 0 23px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 0 -300px; color: #ff6600;}
/* 저장 */
a.btn_TSave{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 100% -325px; font-family:'돋움',dotum;font-size:11px;color:#444444;line-height:19px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_TSave span,a.btn_TSave strong{display:block;padding:1px 5px 0 23px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 0 -325px; }  
a.btn_TSave:hover span,a.btn_TSave:hover strong{display:block; padding1px 5px 0 23pxbackground:url(../images/btn/bg_btn_InTable.gif) no-repeat 0 -325px; color: #ff6600;}
/* 행추가 */
a.btn_TLadd{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 100% -350px; font-family:'돋움',dotum;font-size:11px;color:#444444;line-height:19px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_TLadd span,a.btn_TLadd strong{display:block;padding:1px 5px 0 23px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 0 -350px; }  
a.btn_TLadd:hover span,a.btn_TLadd:hover strong{display:block; padding:1px 5px 0 23pxbackground:url(../images/btn/bg_btn_InTable.gif) no-repeat 0 -350px; color: #ff6600;}
/* 행삭제 */
a.btn_TLdel{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 100% -375px; font-family:'돋움',dotum;font-size:11px;color:#444444;line-height:19px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_TLdel span,a.btn_TLdel strong{display:block;padding:1px 5px 0 23px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 0 -375px; }  
a.btn_TLdel:hover span,a.btn_TLdel:hover strong{display:block; padding:1px 5px 0 23pxbackground:url(../images/btn/bg_btn_InTable.gif) no-repeat 0 -375px; color: #ff6600;}
/* 평가위원추출완료 */
a.btn_TExComp{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 100% -400px; font-family:'돋움',dotum;font-size:11px;color:#444444;line-height:19px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_TExComp span,a.btn_TExComp strong{display:block; padding:1px 5px 0 23px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 0 -400px; }  
a.btn_TExComp:hover span,a.btn_TExComp:hover strong{display:block; padding:1px 5px 0 23px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 0 -400px; color: #ff6600;}
/* 순위조정 */
a.btn_TRankMd{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 100% -425px; font-family:'돋움',dotum;font-size:11px;color:#444444;line-height:19px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_TRankMd span,a.btn_TRankMd strong{display:block; padding:1px 5px 0 23px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 0 -425px; }  
a.btn_TRankMd:hover span,a.btn_TRankMd:hover strong{display:block; padding:1px 5px 0 23px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 0 -425px; color: #ff6600;}
/* 추출 */
a.btn_TExtra{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 100% -450px; font-family:'돋움',dotum;font-size:11px;color:#444444;line-height:19px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_TExtra span,a.btn_TExtra strong{display:block; padding:1px 5px 0 23px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 0 -450px; }  
a.btn_TExtra:hover span,a.btn_TExtra:hover strong{display:block; padding:1px 5px 0 23px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 0 -450px; color: #ff6600;}
/* 자동추출 */
a.btn_TAutoEx{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 100% -475px; font-family:'돋움',dotum;font-size:11px;color:#444444;line-height:19px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_TAutoEx span,a.btn_TAutoEx strong{display:block; padding:1px 5px 0 23px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 0 -475px; }  
a.btn_TAutoEx:hover span,a.btn_TAutoEx:hover strong{display:block; padding:1px 5px 0 23px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 0 -475px; color: #ff6600;}
/* 키워드추출 */
a.btn_TKEx{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 100% -500px; font-family:'돋움',dotum;font-size:11px;color:#444444;line-height:19px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_TKEx span,a.btn_TKEx strong{display:block; padding:1px 5px 0 23px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 0 -500px; }  
a.btn_TKEx:hover span,a.btn_TKEx:hover strong{display:block; padding:1px 5px 0 23px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 0 -500px; color: #ff6600;}
/* 지정추출 */
a.btn_TAppEx{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 100% -525px; font-family:'돋움',dotum;font-size:11px;color:#444444;line-height:19px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_TAppEx span,a.btn_TAppEx strong{display:block; padding:1px 5px 0 23px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 0 -525px; }  
a.btn_TAppEx:hover span,a.btn_TAppEx:hover strong{display:block; padding:1px 5px 0 23px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 0 -525px; color: #ff6600;}
/* 위원추출 */
a.btn_TMemEx{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 100% -550px; font-family:'돋움',dotum;font-size:11px;color:#444444;line-height:19px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_TMemEx span,a.btn_TMemEx strong{display:block; padding:1px 5px 0 23px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 0 -550px; }  
a.btn_TMemEx:hover span,a.btn_TMemEx:hover strong{display:block; padding:1px 5px 0 23px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 0 -550px; color: #ff6600;}
/* 평가위원추출 */
a.btn_TAmemEx{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 100% -575px; font-family:'돋움',dotum;font-size:11px;color:#444444;line-height:19px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_TAmemEx span,a.btn_TAmemEx strong{display:block; padding:1px 5px 0 23px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 0 -575px; }  
a.btn_TAmemEx:hover span,a.btn_TAmemEx:hover strong{display:block; padding:1px 5px 0 23px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 0 -575px; color: #ff6600;}
/* 이메일발송 */
a.btn_TEmail{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 100% -600px; font-family:'돋움',dotum;font-size:11px;color:#444444;line-height:19px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_TEmail span,a.btn_TEmail strong{display:block; padding:1px 5px 0 23px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 0 -600px; }  
a.btn_TEmail:hover span,a.btn_TEmail:hover strong{display:block; padding:1px 5px 0 23px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 0 -600px; color: #ff6600;}
/* 삭제 */
a.btn_TDel{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 100% -625px; font-family:'돋움',dotum;font-size:11px;color:#444444;line-height:19px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_TDel span,a.btn_TDel strong{display:block; padding:1px 5px 0 23px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 0 -625px; }  
a.btn_TDel:hover span,a.btn_TDel:hover strong{display:block; padding:1px 5px 0 23px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 0 -625px; color: #ff6600;}
/* 지표추가 */
a.btn_TIadd{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 100% -650px; font-family:'돋움',dotum;font-size:11px;color:#444444;line-height:19px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_TIadd span,a.btn_TIadd strong{display:block; padding:1px 5px 0 23px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 0 -650px; }  
a.btn_TIadd:hover span,a.btn_TIadd:hover strong{display:block; padding:1px 5px 0 23px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 0 -650px; color: #ff6600;}
/* 목록 보이기 */
a.btn_ListOpen{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 100% -650px; font-family:'돋움',dotum;font-size:11px;color:#444444;line-height:19px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_ListOpen span,a.btn_ListOpen strong{display:block; padding:1px 5px 0 23px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 0 -675px; }  
a.btn_ListOpen:hover span,a.btn_ListOpen:hover strong{display:block; padding:1px 5px 0 23px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 0 -675px; color: #ff6600;}
/* 목록 숨기기 */
a.btn_ListClose{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 100% -650px; font-family:'돋움',dotum;font-size:11px;color:#444444;line-height:19px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_ListClose span,a.btn_ListClose strong{display:block; padding:1px 5px 0 23px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 0 -700px; }  
a.btn_ListClose:hover span,a.btn_ListClose:hover strong{display:block; padding:1px 5px 0 23px;background:url(../images/btn/bg_btn_InTable.gif) no-repeat 0 -700px; color: #ff6600;}



/*=================================================================================
 * Infor In Button Style Definition
 =================================================================================*/
/* Basic */
a.btn_IBasic{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 100% 0;font-family:'돋움',dotum;font-size:12px;color:#3161a8;line-height:25px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_IBasic span,a.btn_IBasic strong{display:block;padding:1px 8px 0 20px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat;}  
a.btn_IBasic:hover span,a.btn_IBasic:hover strong{display:block; padding:1px 8px 0 20px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat; color: #ff6600;}
/* Search */
a.btn_ISearch{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 100% -25px; font-family:'돋움',dotum;font-size:12px;color:#3161a8;line-height:25px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_ISearch span,a.btn_ISearch strong{display:block;padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 0 -25px; }  
a.btn_ISearch:hover span,a.btn_ISearch:hover strong{display:block; padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 0 -25px; color: #ff6600;}
/* List */
a.btn_IList{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 100% -50px; font-family:'돋움',dotum;font-size:12px;color:#3161a8;line-height:25px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_IList span,a.btn_IList strong{display:block;padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 0 -50px; }  
a.btn_IList:hover span,a.btn_IList:hover strong{display:block; padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 0 -50px; color: #ff6600;}
/* Writing */
a.btn_IWrite{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 100% -75px; font-family:'돋움',dotum;font-size:12px;color:#3161a8;line-height:25px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_IWrite span,a.btn_IWrite strong{display:block;padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 0 -75px; }  
a.btn_IWrite:hover span,a.btn_IWrite:hover strong{display:block; padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 0 -75px; color: #ff6600;}
/* Close */
a.btn_IClose{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 100% -100px; font-family:'돋움',dotum;font-size:12px;color:#3161a8;line-height:25px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_IClose span,a.btn_IClose strong{display:block;padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 0 -100px; }  
a.btn_IClose:hover span,a.btn_IClose:hover strong{display:block; padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 0 -100px; color: #ff6600;}
/* Print */
a.btn_IPrint{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 100% -125px; font-family:'돋움',dotum;font-size:12px;color:#3161a8;line-height:25px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_IPrint span,a.btn_IPrint strong{display:block;padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 0 -125px; }  
a.btn_IPrint:hover span,a.btn_IPrint:hover strong{display:block; padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 0 -125px; color: #ff6600;}
/* SMS */
a.btn_ISMS{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 100% -150px; font-family:'돋움',dotum;font-size:12px;color:#3161a8;line-height:25px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_ISMS span,a.btn_ISMS strong{display:block;padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 0 -150px; }  
a.btn_ISMS:hover span,a.btn_ISMS:hover strong{display:block; padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 0 -150px; color: #ff6600;}
/* Excel */
a.btn_IEx{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 100% -175px; font-family:'돋움',dotum;font-size:12px;color:#3161a8;line-height:25px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_IEx span,a.btn_IEx strong{display:block;padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 0 -175px; }  
a.btn_IEx:hover span,a.btn_IEx:hover strong{display:block; padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 0 -175px; color: #ff6600;}
/* Excel Down */
a.btn_IExDw{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 100% -200px; font-family:'돋움',dotum;font-size:12px;color:#3161a8;line-height:25px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_IExDw span,a.btn_IExDw strong{display:block;padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 0 -200px; }  
a.btn_IExDw:hover span,a.btn_IExDw:hover strong{display:block; padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 0 -200px; color: #ff6600;}
/* Excel Up */
a.btn_IExUp{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 100% -225px; font-family:'돋움',dotum;font-size:12px;color:#3161a8;line-height:25px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_IExUp span,a.btn_IExUp strong{display:block;padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 0 -225px; }  
a.btn_IExUp:hover span,a.btn_IExUp:hover strong{display:block; padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 0 -225px; color: #ff6600;}
/* File */
a.btn_IFile{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 100% -250px; font-family:'돋움',dotum;font-size:12px;color:#3161a8;line-height:25px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_IFile span,a.btn_IFile strong{display:block;padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 0 -250px; }  
a.btn_IFile:hover span,a.btn_IFile:hover strong{display:block; padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 0 -250px; color: #ff6600;}
/* File Down */
a.btn_IFileDw{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 100% -275px; font-family:'돋움',dotum;font-size:12px;color:#3161a8;line-height:25px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_IFileDw span,a.btn_IFileDw strong{display:block;padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 0 -275px; }  
a.btn_IFileDw:hover span,a.btn_IFileDw:hover strong{display:block; padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 0 -275px; color: #ff6600;}
/* File Up */
a.btn_IFileUp{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 100% -300px; font-family:'돋움',dotum;font-size:12px;color:#3161a8;line-height:25px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_IFileUp span,a.btn_IFileUp strong{display:block;padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 0 -300px; }  
a.btn_IFileUp:hover span,a.btn_IFileUp:hover strong{display:block; padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 0 -300px; color: #ff6600;}



/* 저장 */
a.btn_ISave{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 100% -325px; font-family:'돋움',dotum;font-size:12px;color:#3161a8;line-height:25px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_ISave span,a.btn_ISave strong{display:block;padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 0 -325px; }  
a.btn_ISave:hover span,a.btn_ISave:hover strong{display:block; padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 0 -325px; color: #ff6600;}
/* 행추가 */
a.btn_ILadd{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 100% -350px; font-family:'돋움',dotum;font-size:12px;color:#3161a8;line-height:25px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_ILadd span,a.btn_ILadd strong{display:block;padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 0 -350px; }  
a.btn_ILadd:hover span,a.btn_ILadd:hover strong{display:block; padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 0 -350px; color: #ff6600;}
/* 행삭제 */
a.btn_ILdel{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 100% -375px; font-family:'돋움',dotum;font-size:12px;color:#3161a8;line-height:25px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_ILdel span,a.btn_ILdel strong{display:block;padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 0 -375px; }  
a.btn_ILdel:hover span,a.btn_ILdel:hover strong{display:block; padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 0 -375px; color: #ff6600;}



/* 평가위원추출완료 */
a.btn_IExComp{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 100% -400px; font-family:'돋움',dotum;font-size:12px;color:#3161a8;line-height:25px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_IExComp span,a.btn_IExComp strong{display:block; padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 0 -400px; }  
a.btn_IExComp:hover span,a.btn_IExComp:hover strong{display:block; padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 0 -400px; color: #ff6600;}
/* 순위조정 */
a.btn_IRankMd{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 100% -425px; font-family:'돋움',dotum;font-size:12px;color:#3161a8;line-height:25px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_IRankMd span,a.btn_IRankMd strong{display:block;padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 0 -425px; }  
a.btn_IRankMd:hover span,a.btn_IRankMd:hover strong{display:block;padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 0 -425px; color: #ff6600;}
/* 추출 */
a.btn_IExtra{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 100% -450px; font-family:'돋움',dotum;font-size:12px;color:#3161a8;line-height:25px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_IExtra span,a.btn_IExtra strong{display:block;padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 0 -450px; }  
a.btn_IExtra:hover span,a.btn_IExtra:hover strong{display:block;padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 0 -450px; color: #ff6600;}
/* 자동추출 */
a.btn_IAutoEx{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 100% -475px; font-family:'돋움',dotum;font-size:12px;color:#3161a8;line-height:25px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_IAutoEx span,a.btn_IAutoEx strong{display:block;padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 0 -475px; }  
a.btn_IAutoEx:hover span,a.btn_IAutoEx:hover strong{display:block;padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 0 -475px; color: #ff6600;}
/* 키워드추출 */
a.btn_IKEx{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 100% -500px; font-family:'돋움',dotum;font-size:12px;color:#3161a8;line-height:25px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_IKEx span,a.btn_IKEx strong{display:block;padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 0 -500px; }  
a.btn_IKEx:hover span,a.btn_IKEx:hover strong{display:block;padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 0 -500px; color: #ff6600;}
/* 지정추출 */
a.btn_IAppEx{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 100% -525px; font-family:'돋움',dotum;font-size:12px;color:#3161a8;line-height:25px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_IAppEx span,a.btn_IAppEx strong{display:block;padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 0 -525px; }  
a.btn_IAppEx:hover span,a.btn_IAppEx:hover strong{display:block;padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 0 -525px; color: #ff6600;}
/* 위원추출 */
a.btn_IMemEx{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 100% -550px; font-family:'돋움',dotum;font-size:12px;color:#3161a8;line-height:25px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_IMemEx span,a.btn_IMemEx strong{display:block;padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 0 -550px; }  
a.btn_IMemEx:hover span,a.btn_IMemEx:hover strong{display:block;padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 0 -550px; color: #ff6600;}
/* 평가위원추출 */
a.btn_IAmemEx{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 100% -575px; font-family:'돋움',dotum;font-size:12px;color:#3161a8;line-height:25px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_IAmemEx span,a.btn_IAmemEx strong{display:block;padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 0 -575px; }  
a.btn_IAmemEx:hover span,a.btn_IAmemEx:hover strong{display:block;padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 0 -575px; color: #ff6600;}
/* 이메일발송 */
a.btn_IEmail{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 100% -600px; font-family:'돋움',dotum;font-size:12px;color:#3161a8;line-height:25px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_IEmail span,a.btn_IEmail strong{display:block;padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 0 -600px; }  
a.btn_IEmail:hover span,a.btn_IEmail:hover strong{display:block;padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 0 -600px; color: #ff6600;}
/* 삭제 */
a.btn_IDel{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 100% -625px; font-family:'돋움',dotum;font-size:12px;color:#3161a8;line-height:25px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_IDel span,a.btn_IDel strong{display:block;padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 0 -625px; }  
a.btn_IDel:hover span,a.btn_IDel:hover strong{display:block;padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 0 -625px; color: #ff6600;}
/* 지표추가 */
a.btn_IIadd{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 100% -650px; font-family:'돋움',dotum;font-size:12px;color:#3161a8;line-height:25px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_IIadd span,a.btn_IIadd strong{display:block;padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 0 -650px; }  
a.btn_IIadd:hover span,a.btn_IIadd:hover strong{display:block;padding:1px 8px 0 30px;background:url(../images/btn/bg_btn_Infor.gif) no-repeat 0 -650px; color: #ff6600;}




/*=================================================================================
 * Color Buttom Style Definition
 =================================================================================*/
/* Basic */
a.btn_Red{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_Color.gif) no-repeat 100% 0;font-family:'돋움',dotum;font-size:11px;color:#ffffff;line-height:19px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_Red span,a.btn_Red strong{display:block;padding:1px 3px 0 6px;background:url(../images/btn/bg_btn_Color.gif) no-repeat;}  
a.btn_Red:hover span,a.btn_Red:hover strong{display:block; padding:1px 3px 0 6px;background:url(../images/btn/bg_btn_Color.gif) no-repeat; color: #ff6600;}
/* Search */
a.btn_Orange {display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_Color.gif) no-repeat 100% -25px; font-family:'돋움',dotum;font-size:11px;color:#ffffff;line-height:19px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_Orange span,a.btn_Orange strong{display:block;padding:1px 3px 0 6px; background:url(../images/btn/bg_btn_Color.gif) no-repeat 0 -25px; }  
a.btn_Orange:hover span,a.btn_Orange:hover strong{display:block; padding:1px 3px 0 6px; background:url(../images/btn/bg_btn_Color.gif) no-repeat 0 -25px; color: #ff6600;}
/* List */
a.btn_Green{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_Color.gif) no-repeat 100% -50px; font-family:'돋움',dotum;font-size:11px;color:#ffffff;line-height:19px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_Green span,a.btn_Green strong{display:block;padding:1px 3px 0 6px; background:url(../images/btn/bg_btn_Color.gif) no-repeat 0 -50px; }  
a.btn_Green:hover span,a.btn_Green:hover strong{display:block; padding:1px 3px 0 6px; background:url(../images/btn/bg_btn_Color.gif) no-repeat 0 -50px; color: #ff6600;}
/* Writing */
a.btn_Blue {display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_Color.gif) no-repeat 100% -75px; font-family:'돋움',dotum;font-size:11px;color:#ffffff;line-height:19px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_Blue span,a.btn_Blue strong{display:block;padding:1px 3px 0 6px; background:url(../images/btn/bg_btn_Color.gif) no-repeat 0 -75px; }  
a.btn_Blue:hover span,a.btn_Blue:hover strong{display:block; padding:1px 3px 0 6px; background:url(../images/btn/bg_btn_Color.gif) no-repeat 0 -75px; color: #ff6600;}
/* Close */
a.btn_Black{display:inline-block;padding-right:4px;background:url(../images/btn/bg_btn_Color.gif) no-repeat 100% -100px; font-family:'돋움',dotum;font-size:11px;color:#ffffff;line-height:19px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_Black span,a.btn_Black strong{display:block;padding:1px 3px 0 6px; background:url(../images/btn/bg_btn_Color.gif) no-repeat 0 -100px; }  
a.btn_Black:hover span,a.btn_Black:hover strong{display:block; padding:1px 3px 0 6px; background:url(../images/btn/bg_btn_Color.gif) no-repeat 0 -100px; color: #ff6600;}

























































































