
@charset "utf-8";

/*
 * =================================================================================
 * INFORMATION
 * ---------------------------------------------------------------------------------
 * @File Name 	: Content.css
 * @Description :  Content Style Sheet
 * @Version 	: 1.0.0
 * @Create Date : 2012.08.21
 * @Update Date : 2012.10.05
 * @History		: N/A
 * =================================================================================
 */
.Orenge { color:#FF6600;}

/*=================================================================================
 * Left Menu
 =================================================================================*/
#Left-Menu { width:185px;}
#LY-Left ul {	list-style: none;}
#LY-Left ul li { padding-bottom:3px;}
* html #LY-Left ul li ul.Left-Menu-Sub img { vertical-align:top;}		/* : BUG : IE 6 에서 li를 덮지 못함 */


/*=================================================================================
 * Default Style Definition
 =================================================================================*/
/* 페이지별 BG 라인 */
.LY-WrapperBG01 { background: url(/images/header/WrapperBg01.jpg) repeat-x top;}
.LY-WrapperBG02 { background: url(/images/header/WrapperBg02.jpg) repeat-x top;}
.LY-WrapperBG03 { background: url(/images/header/WrapperBg03.jpg) repeat-x top;}
.LY-WrapperBG04 { background: url(/images/header/WrapperBg04.jpg) repeat-x top;}
.LY-WrapperBG05 { background: url(/images/header/WrapperBg07.jpg) repeat-x top;}
.LY-WrapperBG06 { background: url(/images/header/WrapperBg06.jpg) repeat-x top;}
.LY-WrapperBG07 { background: url(/images/header/WrapperBg07.jpg) repeat-x top;}
.LY-WrapperBG08 { background: url(/images/header/WrapperBg08.jpg) repeat-x top;}
.LY-WrapperBG09 { background: url(/images/header/WrapperBg03.jpg) repeat-x top;}
.LY-WrapperBG12 { background: url(/images/header/WrapperBg12.jpg) repeat-x top;}
.LY-WrapperBG13 { background: url(/images/header/WrapperBg08.jpg) repeat-x top;}
.LY-WrapperBG14 { background: url(../images/header/WrapperBg13.jpg) repeat-x top;}
/* 페이지별 BG 이미지 설정 */
.LY-Wrapper01 										{ margin:0 auto; width:1000px; background:url(../images/header/PageBg01.jpg) no-repeat left top;}
.LY-Wrapper01 .LY-Header01 					{ height:154px;	position:relative;}
.LY-Wrapper01 .LY-Header01 .PageTitle 	{ z-index:10; position:absolute; left:35px; top:114px; }
.LY-Wrapper02 										{ margin:0 auto; width:1000px; background:url(../images/header/PageBg02.jpg) no-repeat left top;}
.LY-Wrapper02 .LY-Header01 					{height:154px;	position:relative;}
.LY-Wrapper02 .LY-Header01 .PageTitle 	{ z-index:10; position:absolute; left:35px; top:114px;}
.LY-Wrapper03 										{ margin:0 auto; width:1000px; background:url(../images/header/PageBg03.jpg) no-repeat left top;}
.LY-Wrapper03 .LY-Header01 					{height:154px;	position:relative;}
.LY-Wrapper03 .LY-Header01 .PageTitle 	{ z-index:10; position:absolute; left:35px; top:114px;}
.LY-Wrapper04 										{ margin:0 auto; width:1000px; background:url(../images/header/PageBg04.jpg) no-repeat left top;}
.LY-Wrapper04 .LY-Header01 					{height:154px;	position:relative;}
.LY-Wrapper04 .LY-Header01 .PageTitle 	{ z-index:10; position:absolute; left:35px; top:114px;}
.LY-Wrapper05 										{ margin:0 auto; width:1000px; background:url(../images/header/PageBg07.jpg) no-repeat left top;}
.LY-Wrapper05 .LY-Header01 					{ height:154px;	position:relative;}
.LY-Wrapper05 .LY-Header01 .PageTitle 	{ z-index:10; position:absolute; left:35px; top:114px;}
.LY-Wrapper06 										{ margin:0 auto; width:1000px; background:url(/images/header/PageBg06.jpg) no-repeat left top;}
.LY-Wrapper06 .LY-Header01 					{height:154px;	position:relative;}
.LY-Wrapper06 .LY-Header01 .PageTitle 	{ z-index:10; position:absolute; left:35px; top:114px; }
.LY-Wrapper07 										{ margin:0 auto; width:1000px; background:url(/images/header/PageBg07.jpg) no-repeat left top;}
.LY-Wrapper07 .LY-Header01 					{height:154px;	position:relative;}
.LY-Wrapper07 .LY-Header01 .PageTitle 	{ z-index:10; position:absolute; left:35px; top:114px; }
.LY-Wrapper08 										{ margin:0 auto; width:1000px; background:url(/images/header/PageBg05.jpg) no-repeat left top;}
.LY-Wrapper08 .LY-Header01 					{height:154px;	position:relative;}
.LY-Wrapper08 .LY-Header01 .PageTitle 	{ z-index:10; position:absolute; left:35px; top:114px; }
.LY-Wrapper09 										{ margin:0 auto; width:1000px; background:url(/images/header/PageBg07.jpg) no-repeat left top;}
.LY-Wrapper09 .LY-Header01 					{height:154px;	position:relative;}
.LY-Wrapper09 .LY-Header01 .PageTitle 	{ z-index:10; position:absolute; left:35px; top:114px; }
.LY-Wrapper12 										{ margin:0 auto; width:1000px; background:url(/images/header/PageBg12.jpg) no-repeat left top;}
.LY-Wrapper12 .LY-Header01 					{height:154px;	position:relative;}
.LY-Wrapper12 .LY-Header01 .PageTitle 	{ z-index:10; position:absolute; left:35px; top:114px; }
.LY-Wrapper13 										{ margin:0 auto; width:1000px; background:url(/images/header/PageBg05.jpg) no-repeat left top;}
.LY-Wrapper13 .LY-Header01 					{height:154px;	position:relative;}
.LY-Wrapper13 .LY-Header01 .PageTitle 	{ z-index:10; position:absolute; left:35px; top:114px; }
.LY-Wrapper14 										{ margin:0 auto; width:1000px; background:url(../images/header/PageBg13.jpg) no-repeat left top;}
.LY-Wrapper14 .LY-Header01 					{ height:154px;	position:relative;}
.LY-Wrapper14 .LY-Header01 .PageTitle 	{ z-index:14; position:absolute; left:35px; top:114px;}
/*=================================================================================
 * 버튼 스타일
 =================================================================================*/
.Basic-Button 				{ height:25px; margin-top:15px;}
.Basic-Button .Right 		{ float:right;}
.Basic-Button .Right li 		{ float:left;}
.Basic-Button .Center li 	{ text-align:center;}
/* Basic */
a.btn_Basic{display:inline-block;padding-right:4px;background:url(/images/btn/bg_btn_default.gif) no-repeat 100% 0;font-family:'돋움',dotum;font-size:12px;color:#fff;line-height:25px;word-spacing:-1px;text-decoration:none !important;white-space:nowrap}  
a.btn_Basic span,a.btn_Basic strong{display:block;padding:1px 8px 0 20px;background:url(/images/btn/bg_btn_default.gif) no-repeat;}  
a.btn_Basic:hover span,a.btn_Basic:hover strong{display:block; padding:1px 8px 0 20px;background:url(/images/btn/bg_btn_default.gif) no-repeat; color: #ffff00;}


/*=================================================================================
 * 온라인상담 메인
 =================================================================================*/
/* 영역 */
.Online-MSelect 									{ position:relative; height:335px; width:930px; background:url(../images/content/OnLine_MBg01.gif) no-repeat left top; } 
/*.Online-MSelect h1.Title 							{ position:absolute; left:58px; top:40px;}*/
/* 텝 */
.Online-MSelect .MTep 							{}
.Online-MSelect .MTep li.Tep01				{ position:absolute; Left:113px; top:43px;}
.Online-MSelect .MTep li.Tep02				{ position:absolute; Left:299px; top:43px;}
.Online-MSelect .MTep li.Tep03				{ position:absolute; Left:479px; top:62px;}
.Online-MSelect .MTep li.Tep04 				{ position:absolute; Left:624px; top:27px;}
.Online-MSelect .MTep li.Tep05 				{ position:absolute; Left:198px; top:43px;}
.Online-MSelect .MTep li.Tep06 				{ position:absolute; Left:384px; top:43px;}
.Online-MSelect .MTep li.Tep07 				{ position:absolute; Left:564px; top:62px;}

/* 베스트 10 */
.OnLine-MBest 										{ background:url(../images/content/OnLine_MBest_Bg.gif) no-repeat left top;}
.OnLine-MBest .OnLine-MBest-DLine 		{ clear:both; background:url(../images/content/OnLine_MBest_Bg.gif) no-repeat left bottom; height:30px;}
/* 많이 조회한 문의 */
.OnLine-MBest .MBest01 						{ padding:13px 0 0 30px; width:400px; float:left;}
.OnLine-MBest .MBest01 li.Title 				{ border-bottom:1px #8d9fd3 solid; padding-bottom:9px; margin-bottom:10px;}
.OnLine-MBest .MBest01 li.more				{ float:right; margin-top:-52px;}
.OnLine-MBest .MBest01 li.Title span 		{ float:right;}
/* 자주 묻는 질문 */
.OnLine-MBest .MBest02 						{ padding:13px 37px 0 0; width:400px; float:right;}
.OnLine-MBest .MBest02 li.Title 				{ border-bottom:1px #8d9fd3 solid; padding-bottom:9px; margin-bottom:10px;}
.OnLine-MBest .MBest02 li.more				{ float:right; margin-top:-52px;}
.OnLine-MBest .MBest02 li.Title span 		{ float:right;}
/* Best10 리스트  */
.OnLine-MBest .MBest10-List 					{ width:100%;} 
.OnLine-MBest .MBest10-List tr th			{ padding:2px 0 2px 0; background:url(../images/icon/Icon_Box_O.gif) no-repeat center center; width:20px; color:#fff; text-align:center;}
.OnLine-MBest .MBest10-List tr td.com1 	{ padding-top:2px; text-align:center; width:120px; color:#6e87c6; font-size:11px; background:url(../images/icon/Icon_Box_01.gif) no-repeat center center;}
.OnLine-MBest .MBest10-List tr td.com2 	{ padding-top:2px; text-align:center; width:120px; color:#257e9d; font-size:11px; background:url(../images/icon/Icon_Box_02.gif) no-repeat center center;}
.OnLine-MBest .MBest10-List a 				{ color:#5e5e5e; display:block;}
.OnLine-MBest .MBest10-List a:hover 		{ color:#FF6600;}


/*=================================================================================
 * 컨텐츠 타이틀
 =================================================================================*/
.LY-ContentTitle 						{ height:51px; margin-bottom:27px;}
/*.LY-ContentTitle h1.Title			{ position: absolute; left:0px; top:25px;}
.LY-ContentTitle .Tap 				{ position:absolute; left:202px; top:30px;}
.LY-ContentTitle .Tap li 			{ float:left;}
.LY-ContentTitle .Content_img 	{ float:right; margin-top:-26px;}
.LY-ContentTitle .STitle 			{ height:63px; position:absolute; left:0px; top:71px;}*/


/*=================================================================================
 * 자주 묻는 질문 미처리 현황
 =================================================================================*/
/* 영역 */
.OnlineInfor 						{}
.OnlineInfor .Infor li 				{ padding:10px 0 10px 178px; background:url(../images/content/On_InforImg.gif) no-repeat left top;} 
/* 정보 테이블 */
.On-untreat 						{ width:100%; border-top:2px #9c9c9c solid;}
.On-untreat thead tr th 		{ width:20%; padding:8px 0 7px 0; background-color:#ededed; border:0; border-right:1px #dad9d9 solid; color:#645c59;}
.On-untreat thead tr th.End 	{ border-right:0px;}
.On-untreat tbody tr th 			{ color:#645c59; border-right:1px #dad9d9 solid; border-bottom:1px #dad9d9 solid;}
.On-untreat tbody tr td 			{ text-align:center; padding:3px 0 3px 0; border-left:1px #dad9d9 solid; border-bottom:1px #dad9d9 solid; font-weight:bold; }

/* 하단 이미지 [자주 묻는 질문] */
.OnLine-inquiry 					{ height:60px;}
.OnLine-inquiry ul 				{ margin:0 auto; width:825px; padding-top:10px; }
.OnLine-inquiry ul li 			{ float:left; height:55px;}
.OnLine-inquiry ul li.Btn 		{ padding:12px 0 0 10px;}

/*=================================================================================
 * 온라인 검색 멀티
 =================================================================================*/
/* 검색 영역 - 레프트메뉴에 적용 */
.InforSearch 					{ clear:both; padding-top:13px; background: url(../images/content/SearchBg.gif) no-repeat left top;}
.InforSearch .Search 		{ padding:0 20px 14px 20px; background:url(../images/content/SearchBg.gif) no-repeat left bottom;}
.InforSearch .Search li		{ padding-left:100px; background:url(../images/content/SearchImg.gif) no-repeat left center;}
/* 검색 영역 - 전체 사이즈 */
.InforSearch02 				{ padding-top:13px; background: url(../images/content/SearchBg02.gif) no-repeat left top;}
.InforSearch02 .Search 	{ padding:0 20px 14px 20px; background:url(../images/content/SearchBg02.gif) no-repeat left bottom;}
.InforSearch02 .Search li	{ padding-left:100px; background:url(../images/content/SearchImg.gif) no-repeat left center;}
/* 검색 조건 */
.Search-Pre 					{ width:100%;}
.Search-Pre tr th 			{ text-align:left; width:70px; padding:6px 0 4px 9px; background:url(../images/icon/Icon_dot.gif) no-repeat left center;} 
.Search-Pre tr td input 	{ }
.Search-Pre tr td.Btn 		{ text-align:right; } 


/*=================================================================================
 * 자료실 서브 텝 
 =================================================================================*/
.Reference-STab 					{ height:70px; background:url(../images/content/OnLine_Stap_Bg.gif) no-repeat left top;}
.Reference-STab ul li 				{ text-align:left;}
.Reference-STab-Menu 			{ margin-left:47px;}
.Reference-STab-Menu tr td 	{ text-align:center; padding:0 20px 0 20px;}

/*=================================================================================
 * 기본 리스트 
 =================================================================================*/
/* 리스트 검색 */
.Basic-List-area .List-Left								{ float:left;}
.Basic-List-area .List-Search 							{ height:30px; float:right; }
.Basic-List-area .List-Search li 						{ float:left; padding-left:5px;}
.Basic-List-area .List-Search li input 				{ height:19px; padding:0 5px 0 5px; color:#333333;}
.Basic-List-area .List-Search li select 				{ padding:2px; padding-right:}
.Basic-List-area .List-Search li.Day					{ padding-left:20px;}
/* 리스트 테이블 */
.Basic-List-area .List 										{ clear:both;}
.Basic-List-area .Basic-List								{ width:100%;}
.Basic-List-area .Basic-List thead tr th 				{ padding:7px 0 6px 0; border-top:2px #9c9c9c solid; background-color:#ededed; color:#534c41; text-align:center; } 
.Basic-List-area .Basic-List thead tr th.Btmline 	{ border-bottom:1px #dad9d9 solid;}
.Basic-List-area .Basic-List thead tr th.S-Menu { background-color:#f3f3f3; border:1px #dad9d9 solid; border-bottom:1px #dad9d9 solid;}

.Basic-List-area .Basic-List tbody tr td 				{ padding:7px 10px 6px 10px; text-align:center; color:#666; border-bottom:1px #dad9d9 solid; text-align:center; }
.Basic-List-area .Basic-List tbody tr td.com1 		{ text-align:center; width:120px; color:#6e87c6; font-size:11px; background:url(../images/icon/Icon_Box_01.gif) no-repeat center center;}
.Basic-List-area .Basic-List tbody tr td.Left 		{ text-align:left;}
.Basic-List-area .Basic-List tbody tr td.Sum		{ color:#444; text-align:right;}
.Basic-List-area .Basic-List tbody .Total 		    { font-weight:bold; background-color:#f0f0f0;}
.Basic-List-area .Basic-List tbody .SumTotal		{ font-weight:bold; background-color:#ece6fd;}

.Basic-List-area .Basic-List tbody tr td a 			{ color:#666;}
.Basic-List-area .Basic-List tbody tr td a:hover 	{ color:#666;}
/* 페이지 순번 */
.Basic-List-area .Page-Num 							{ text-align:center; padding-top:15px;}
.Basic-List-area .Page-Num span					{ padding:0 10px 0 10px;}
.Basic-List-area .Page-Num span a 					{ padding:0 3px 0 3px;}
.Basic-List-area .Page-Num span a:hover			{ color:#FF3300;}
.Basic-List-area .Page-Num span a.Action		{ font-weight:bold;}
/* 건수 */ 
.Basic-List-area .Num										{ float:left; padding-top:5px;}
.Basic-List-area .Num li 									{ float:left; padding:0 0 0 8px; margin-left:5px; background:url(../images/icon/Icon_dot.gif) no-repeat left center;}
.Basic-List-area .Num li span 							{ color:#FF6600;}



/*=================================================================================
 * 기본 상세정보 입력(쓰기 및 보기)
 =================================================================================*/
.Basic-Write 									{ width:100%; border-top:2px #9c9c9c solid; border-bottom:1px #9c9c9c solid;}
.Basic-Write tr th 							{ padding:7px 0 6px 0; border-bottom:1px #fff solid; color:#534c41; vertical-align:top; }
.Basic-Write tr th.Btmline 					{ border-bottom:1px #dad9d9 solid; background-color:#ededed; }
.Basic-Write tr th.Btmline1 				{ border-bottom:1px #dad9d9 solid; background-color:#ffffdd }
.Basic-Write tr th.Left						{ text-align:left; padding-left:10px;}
.Basic-Write tr td 							{ padding:7px 7px 6px 7px; border-bottom:1px #dad9d9 solid; color:#534c41; vertical-align:top; text-align:left;}
.Basic-Write tr td.Right						{ text-align:right;}
.Basic-Write tr td.ID-Infor					{ text-align:center; padding:10px 0 20px 0;}

.Basic-Write tr td input.Num 				{ width:100px; height:20px; padding:0 5px 0 5px; text_valign:center;}
.Basic-Write tr td input.Email 			{ width:100px; height:20px;  padding:0 5px 0 5px;}
.Basic-Write tr td input.Title				{ width:97%; height:23px; padding-left:5px;}
.Basic-Write tr td textarea 				{ width:97%; height:300px;}
.Basic-Write tr td select 					{ height:20px;}
/* 서브테이블 */
.Basic-Write .Basic-Write-Sub tr th 	{ background:none; text-align:left; color:#444; padding:2px 5px 2px 5px;  }
.Basic-Write .Basic-Write-Sub tr td 	{ background:none; text-align:left; color:#444; padding:2px 5px 2px 5px; border:0px;}


/*=================================================================================
 * 답변에 대한 평가 만족도 체크
 =================================================================================*/
/* 체크 */
.App-Check 										{ background:url(../images/content/App_Check_Bg.gif) no-repeat left top;}
.App-Check .Left 								{ padding-left:100px; padding-top:10px;}
.App-Check .Left li.Title 						{ float:left; color:#534c41; font-size:14px; font-weight:bold;}
.App-Check .Member 							{ float:right; padding-right:15px; height:30px ;}  
.App-Check .Member li 						{ float:left;} 
.App-Check .Member li.Mem				{ background:url(../images/icon/icon_Member01.gif) no-repeat left top; padding-left:25px; padding-right:12px; } 
.App-Check .Member li.Grade 				{ background:url(../images/icon/icon_Write.gif) no-repeat left top; padding-left:36px; } 
/* 12년 9월 26일 수정 */
.App-Check .Check 							{ clear:both;  padding-left:100px; height:40px;}
.App-Check .Check li 							{ float:left; padding-right:10px;}
.App-Check .Check li img					{ vertical-align:top;}
.App-Check .Check li input					{ border:0px;}
/* 테이블 추가 */
.App-Check .Check li table					{ width:100%;}
.App-Check .Check li table tr td 			{ padding-right:5px;}
.App-Check .Button 							{ clear:both; text-align:center;}

/* 결과 보기 */
.App-Check-result 								{ height:80px; background:url(../images/content/App_Check_Bg02.gif) no-repeat left top;}
.App-Check-result .Left 						{ padding-left:100px; padding-top:28px;}
.App-Check-result .Left li.Title 				{ float:left; color:#534c41; font-size:14px; font-weight:bold;}
.App-Check-result .Member 				{ float:right; padding-right:15px; height:45px }  
.App-Check-result .Member li 				{ float:left;} 
.App-Check-result .Member li.Mem		{ background:url(../images/icon/icon_Member01.gif) no-repeat left top; padding-left:25px; padding-right:12px; } 
.App-Check-result .Member li.Grade 	{ background:url(../images/icon/icon_Write.gif) no-repeat left top; padding-left:36px; } 



/* 마이페이지 -  체크 */
.App-MYCheck 										{ background:url(../images/content/App_MYCheck_Bg.gif) no-repeat left top;}
.App-MYCheck .Left 								{ padding-left:120px; padding-top:10px;}
.App-MYCheck .Left li.Title 						{ float:left; color:#534c41; font-size:14px; font-weight:bold;}
.App-MYCheck .Member 						{ float:right; padding-right:15px; height:35px ;}  
.App-MYCheck .Member li 						{ float:left;} 
.App-MYCheck .Member li.Mem				{ background:url(../images/icon/icon_Member01.gif) no-repeat left top; padding-left:25px; padding-right:12px; } 
.App-MYCheck .Member li.Grade 			{ background:url(../images/icon/icon_Write.gif) no-repeat left top; padding-left:36px; } 
.App-MYCheck .Check 							{ clear:both;  padding-left:120px; height:40px;}
.App-MYCheck .Check li 						{ float:left; padding-right:10px;}
.App-MYCheck .Check li img					{ vertical-align:top;}
.App-MYCheck .Check li input					{ border:0px;}
/* 마이페이지 -  테이블 추가 */
.App-MYCheck .Check li table					{ width:100%;}
.App-MYCheck .Check li table tr td 			{ padding-right:5px;}
.App-MYCheck .Button 							{ clear:both; text-align:center;}

/* 마이페이지 -  결과 보기 */
.App-MYCheck-result 							{ height:80px; background:url(../images/content/App_MYCheck_Bg02.gif) no-repeat left top;}
.App-MYCheck-result .Left 						{ padding-left:120px; padding-top:28px;}
.App-MYCheck-result .Left li.Title 			{ float:left; color:#534c41; font-size:14px; font-weight:bold;}
.App-MYCheck-result .Member 				{ float:right; padding-right:15px; height:45px }  
.App-MYCheck-result .Member li 				{ float:left;} 
.App-MYCheck-result .Member li.Mem		{ background:url(../images/icon/icon_Member01.gif) no-repeat left top; padding-left:25px; padding-right:12px; } 
.App-MYCheck-result .Member li.Grade 	{ background:url(../images/icon/icon_Write.gif) no-repeat left top; padding-left:36px; } 


/* 테이블 안에 만족도 체크 */
.SApp-Check 									{ padding:5px 0 5px 0; text-align:left;} 
.SApp-Check ul 									{ margin-left:10px; color:#000; padding-left:90px;}
.SApp-Check ul li.Title 						{color:#534c41; font-size:13px; font-weight:bold; background:url(../images/icon/Icon_SApp.png) no-repeat left top; padding:0 0 5px 20px;}
/* 테이블 안에 만족도 체크 결과  */
.SApp-Check-result  							{ text-align:center;}
.SApp-Check-result ul 						{ margin-left:10px; color:#000; padding-left:100px;}
.SApp-Check-result ul li.Title 				{color:#534c41; font-size:13px; font-weight:bold; background:url(../images/icon/Icon_SApp.png) no-repeat 300px top; padding:0 0 5px 20px;}


/*=================================================================================
 * 마이페이지 기본 정보 
 =================================================================================*/

/* 영역 */
.MyPage-Header 				{ width:930px;}
.MyPage-Header tr td 			{ padding-left:5px;}
.MyPage-Header tr td.scrap { padding:0 0 0 5px; width:150px; vertical-align:top; }

/*  기본 정보 */
.MyPage-Infor 					{ height:120px; background:url(../images/content/MyPage_Infor_Bg.gif) no-repeat left top;}
.MyPage-Infor .Title 			{ margin-left:10px; background:url(../images/content/MyPage_Infor_Bg.gif) no-repeat right top;}
.MyPage-Infor .Title li 			{ padding:10px 0 7px 8px;}
.MyPage-Infor .Infor 			{ height:80px; background:url(../images/content/MyPage_Infor_Bg.gif) no-repeat right bottom;}
.MyPage-Infor .Infor li 			{ width:120px; height:80px; float:left; text-align:center; background:url(../images/content/MyPage_ConPt.gif) no-repeat right 5px; }
.MyPage-Infor .Infor li.start 	{ background:url(../images/content/MyPage_Infor_Bg.gif) no-repeat left bottom; }
.MyPage-Infor .Infor li.end 	{ background-image:none;}
/* 스크랩현황 */
.MyScrap-List 					{ width:150px;}
.MyScrap-List .Title 			{ background:url(../images/content/MyPage_scrap_Bg.gif) no-repeat left top;}
.MyScrap-List .Title li 			{ padding:5px 0 10px 0; text-align:center;}
.MyScrap-List .Infor 			{ padding-top:5px; background:url(../images/content/MyPage_scrap_Bg.gif) no-repeat left bottom;}
.MyScrap-List .Infor li 			{ height:80px; text-align:center;}



/*=================================================================================
 * 사이트 맵
 =================================================================================*/
.SiteMap 				{ width:100%;}
.SiteMap tr td 			{ width:20%; vertical-align:top; text-align:center;}
.SiteMap tr td.Img 	{ border-right:1px #ededed solid; height:250px; }


/*=================================================================================
 * 개인정보처리방침
 =================================================================================*/
.Mem-InforTip 						{ padding:30px 50px 0 200px; background:url(../images/content/Content_SImg01.gif) no-repeat left top; color:#666; line-height:18px; }
.Mem-InforTip p.info 				{ font-size:14px; font-family:'굴림'; color:#000; line-height:22px; }
.Mem-InforTip .MemTitle 			{ border:2px #dbdbdb solid; background-color:#f5f5f5; }
.Mem-InforTip .MemTitle tr td 	{ padding:10px;}
.Mem-InforTip .tipTit 				{ font-size:13px; font-family:'굴림'; color:#336699; padding-bottom:10px;} 
.Mem-InforTip .Ttxt 					{ padding-left:20px; padding-right:20px;}
.Mem-InforTip strong 				{ margin-bottom:10px; color:#444; }


/*=================================================================================
 * 무단이메일수집거부
 =================================================================================*/
.Mail-InforTip 											{ padding:20px 50px 0 200px; background:url(../images/content/Content_SImg02.gif) no-repeat left top; color:#666; line-height:18px; }
.Mail-InforTip p.info 								{ font-size:14px; font-family:'굴림'; color:#000; line-height:22px; }
.Mail-InforTip .MemTitle 							{ border:2px #dbdbdb solid; background-color:#f5f5f5; }
.Mail-InforTip .MemTitle tr td 					{ padding:10px;}
.Mail-InforTip .MemTitle tr td.info  				{ font-size:13px; font-family:'굴림'; color:#000; line-height:22px; }
.Mail-InforTip .MemTitle tr td.Infor01 			{ text-align:right; color:#336699; font-weight:bold; padding-top:0px;}
.Mail-InforTip .tipTit 								{ font-size:16px; font-family:'굴림'; color:#336699; padding-bottom:10px;} 
.Mail-InforTip .tipList li.tipList2 					{ color:#333; font-weight:bold; font-size:13px; font-family:'굴림'; padding-left:10px;}
.Mail-InforTip .tipList li.tipList2 ol 				{ padding-top:10px; padding-left:10px; color:#666; font-size:12px; font-weight:normal;}
.Mail-InforTip .tipList li.tipList2 ol .tipList4 	{ padding-left:15px;}
.Mail-InforTip .tipList li.tipList2 ol.tipListo li { margin-bottom:5px;}


/*=================================================================================
 * 팝업스타일 
 =================================================================================*/
/* 팝업 타이틀 */
.LY-PopLayout 							{ margin:10px; border:2px #dbdbdb solid; min-width:400px; }
.LY-PopLayout .Header 				{ height:40px; background:url(../images/content/Pop_TitleBgR.gif) repeat-x top; }
.LY-PopLayout .Header li.Title 		{ float:left; height:40px; font-weight:bold; color:#fff; padding-left:50px; font-family:'굴림'; line-height:37px; font-size:13px; background:url(../images/content/Pop_TitleBg.gif) no-repeat left top;}
.LY-PopLayout .Header li.Img 		{ float:right; height:40px; width:80px; background:url(../images/content/Pop_TitleBg.gif) no-repeat right top;}
.LY-PopLayout1 							{ margin:10px; border:2px #dbdbdb solid; min-width:500px; }
.LY-PopLayout1 .Header1 				{ height:40px; background:url(../images/content/Pop_TitleBgR.gif) repeat-x top; }
.LY-PopLayout1 .Header1 li.Title1 		{ float:left; height:40px; font-weight:bold; color:#fff; padding-left:50px; font-family:'굴림'; line-height:37px; font-size:13px; background:url(../images/content/Pop_TitleBg.gif) no-repeat left top;}
.LY-PopLayout1 .Header1 li.Img1		{ float:right; height:40px; width:80px; background:url(../images/content/Pop_TitleBg.gif) no-repeat right top;}
/* 컨텐츠 영역 */
.LY-PopLayout .Content 				{ padding:18px 25px 20px 25px;}
.LY-PopLayout .Content1 			{ padding:30px 30px 30px 30px;}
/* 버튼 영역 */
.LY-PopLayout .Button li 				{ text-align:center; padding-bottom:10px;}
.LY-PopLayout .Button1 li 				{ text-align:center; padding-bottom:10px;}

/* 작은 팝업 */
.Pop-Warning 							{ width:300px; margin:10px; background:url(../images/content/Pop_WarningBg.gif) no-repeat left top;border:2px #dbdbdb solid;}
.Pop-Warning ul li.Text 				{ padding:30px 40px 20px 40px ; text-align:center;}
.Pop-Warning ul li.Btn 					{ padding-bottom:10px; text-align:center;}
.Pop-Warning ul li span.TextInfor 	{ font-weight:bold; color:#0093c5;} 

/*=================================================================================
 * 팝업 // SMS 보내기 
 =================================================================================*/
.SMS-Send 											{ width:100%; background: url(../images/content/SMS_Bg.gif) no-repeat left top;}
.SMS-Send .SMS-SendInput 					{ margin-left:18px; padding-right:18px; background:url(../images/content/SMS_Bg.gif) no-repeat right top;}
.SMS-Send .SMS-SendInput ul 				{ padding-top:5px;}
.SMS-Send .SMS-SendInput ul li.Title 		{ font-weight:bold; margin-bottom:10px;}
.SMS-Send .SMS-SendInput ul li.Num 		{ padding:5px 0 10px 0; margin-bottom:10px; border-bottom:2px #90c5d9 solid;}
.SMS-Send .SMS-SendInput ul li textarea { width:360px;}
.SMS-Send .Bottom 								{ height:20px; background:url(../images/content/SMS_Bg.gif) no-repeat left bottom;}
.SMS-Send .Bottom ul li 							{ float:right; height:20px; width:20px; background:url(../images/content/SMS_Bg.gif) no-repeat right bottom;}


/*=================================================================================
 * 회원가입 
 =================================================================================*/
/* 가입양식 */
.Join-InforTip 								{ padding:20px 0 0 180px; background:url(../images/content/Content_SImg04.gif) no-repeat left top; color:#666; line-height:18px; }
.Join-InforTip .Join-Check 			{ text-align:right;}
/* 회원약관 */
.Join-clause 								{ background-color:#f9f9f9; padding:30px 33px 30px 33px; border:1px #dddddd solid;}
.Join-clause ul li.Title 					{ padding-bottom:7px;}
.Join-clause ul li.clause textarea 	{ width:660px; height:150px; padding:10px;}
.Join-clause ul li.Check 				{ text-align:right; padding:10px 0 20px 0;}
.Join-InforTip .Join-Text 				{ text-align:center; font-weight:bold; padding:10px 0 15px 0;}
.Join-InforTip .Join-Text01 			{ padding:10px 0 0 50px; }
/* 실명인증 */
.Join_NameCon 							{ width:744px; height:151px; position:relative; background:url(../images/content/Join_NameCon.gif) no-repeat left top;}
.Join_NameCon ul li.Title 				{ position:absolute; left:24px; top:21px;}
.Join_NameCon ul li.Input  			{ position:absolute; left:50px; top:90px;}
.Join_NameCon ul li.Input input 	{ height:18px;}


/*=================================================================================
 * 검색 결과
 =================================================================================*/
/* 영역 */ 
.AllSearch-List 											{ padding:20px 50px 0 180px; background:url(../images/content/Content_SImg05.gif) no-repeat left top; color:#666; line-height:18px; }
.AllSearch-List1 											{ padding:20px 50px 0 180px; color:#666; line-height:18px; }
.AllSearch-List2 											{ padding:20px 50px 0 180px; color:#666; line-height:18px; }
.AllSearch-List3 											{ padding:20px 50px 0 180px; color:#666; line-height:18px; }
/* 타이틀 */
.AllSearch-List .All-Search .Title 					{ float:left; height:26px; background:url(../images/content/Search_LIstTitleBg.gif) no-repeat left top;}
.AllSearch-List .All-Search .Title li 				{ color:#fff; font-weight:bold; padding-right:60px; margin-left:20px; line-height:30px; font-size:13px; font-family:'굴림'; background:url(../images/content/Search_LIstTitleBg.gif) no-repeat right top;}
/* 제목 */
.AllSearch-List .All-Search .STitle 				{ height:30px; clear:both; border-top:1px #a9cadf solid; background-color:#ecf2f6;}
.AllSearch-List .All-Search .STitle li 				{ padding-top:7px;}
.AllSearch-List .All-Search .STitle li.Title01 	{ float:left; font-weight:bold; color:#105799; padding-left:10px;}
.AllSearch-List .All-Search .STitle li.Day 		{ float:right; color:#7698b8; padding-right:10px;}
/* 결과 */
.AllSearch-List .Search-Infor 						{ padding:10px;}


/* 타이틀 */
.AllSearch-List1 .All-Search .Title 					{ float:left; height:26px; background:url(../images/content/Search_LIstTitleBg.gif) no-repeat left top;}
.AllSearch-List1 .All-Search .Title li 				{ color:#fff; font-weight:bold; padding-right:60px; margin-left:20px; line-height:30px; font-size:13px; font-family:'굴림'; background:url(../images/content/Search_LIstTitleBg.gif) no-repeat right top;}
/* 제목 */
.AllSearch-List1 .All-Search .STitle 				{ height:30px; clear:both; border-top:1px #a9cadf solid; background-color:#ecf2f6;}
.AllSearch-List1 .All-Search .STitle li 				{ padding-top:7px;}
.AllSearch-List1 .All-Search .STitle li.Title01 	{ float:left; font-weight:bold; color:#105799; padding-left:10px;}
.AllSearch-List1 .All-Search .STitle li.Day 		{ float:right; color:#7698b8; padding-right:10px;}
/* 결과 */
.AllSearch-List1 .Search-Infor 						{ padding:10px;}


/* 타이틀 */
.AllSearch-List2 .All-Search .Title 					{ float:left; height:26px; background:url(../images/content/Search_LIstTitleBg.gif) no-repeat left top;}
.AllSearch-List2 .All-Search .Title li 				{ color:#fff; font-weight:bold; padding-right:60px; margin-left:20px; line-height:30px; font-size:13px; font-family:'굴림'; background:url(../images/content/Search_LIstTitleBg.gif) no-repeat right top;}
/* 제목 */
.AllSearch-List2 .All-Search .STitle 				{ height:30px; clear:both; border-top:1px #a9cadf solid; background-color:#ecf2f6;}
.AllSearch-List2 .All-Search .STitle li 				{ padding-top:7px;}
.AllSearch-List2 .All-Search .STitle li.Title01 	{ float:left; font-weight:bold; color:#105799; padding-left:10px;}
.AllSearch-List2 .All-Search .STitle li.Day 		{ float:right; color:#7698b8; padding-right:10px;}
/* 결과 */
.AllSearch-List2 .Search-Infor 						{ padding:10px;}


/* 타이틀 */
.AllSearch-List3 .All-Search .Title 					{ float:left; height:26px; background:url(../images/content/Search_LIstTitleBg.gif) no-repeat left top;}
.AllSearch-List3 .All-Search .Title li 				{ color:#fff; font-weight:bold; padding-right:60px; margin-left:20px; line-height:30px; font-size:13px; font-family:'굴림'; background:url(../images/content/Search_LIstTitleBg.gif) no-repeat right top;}
/* 제목 */
.AllSearch-List3 .All-Search .STitle 				{ height:30px; clear:both; border-top:1px #a9cadf solid; background-color:#ecf2f6;}
.AllSearch-List3 .All-Search .STitle li 				{ padding-top:7px;}
.AllSearch-List3 .All-Search .STitle li.Title01 	{ float:left; font-weight:bold; color:#105799; padding-left:10px;}
.AllSearch-List3 .All-Search .STitle li.Day 		{ float:right; color:#7698b8; padding-right:10px;}
/* 결과 */
.AllSearch-List3 .Search-Infor 						{ padding:10px;}



/*=================================================================================
 * 팝업 로그인 
 =================================================================================*/
.Pop-Login-Input 							{ position:relative; height:200px; background:url(../images/content/Pop_LoginBg.gif) no-repeat center top;}
.Pop-Login-Input ul li 						{ padding:1px 0 1px 10px;}
.Pop-Login-Input ul li input				{ width:170px; height:18px;}
.Pop-Login-Input ul li.LoginTitle 		{ position:absolute; left:0px; top:10px;}
.Pop-Login-Input ul li.ID 					{ position:absolute; left:40px; top:70px;}
.Pop-Login-Input ul li.PW 				{ position:absolute; left:40px; top:96px;}
.Pop-Login-Input ul li.Btn-Login 		{ position:absolute; left:311px; top:70px;}
.Pop-Login-Input ul li.Mem-Infor01 	{ position:absolute; left:5px; top:153px;}
.Pop-Login-Input ul li.Mem-Infor02 	{ position:absolute; left:5px; top:175px;}


/*=================================================================================
 * 관라지 // 그래프
 =================================================================================*/
.Graph-Infor 				{ background: url(../images/content/Graph_Bg.gif) no-repeat left top;}
.Graph-Infor .Title 		{ height:30px; float:left; background: url(../images/content/Graph_Title.gif) no-repeat left top;}
.Graph-Infor .Title li 	{ padding-right:40px; margin-left:45px; color:#575757; font-size:14px; font-weight:bold; line-height:30px; background: url(../images/content/Graph_Title.gif) no-repeat right top;}
.Graph-Infor .Infor 		{ clear:both; padding:12px 20px 28px 20px; background: url(../images/content/Graph_Bg.gif) no-repeat left bottom;}
.Graph-Infor .Infor li 	{ border:1px #d2d2d2 solid; text-align:center; background:#f0f0f0 url(../images/content/Graph_Img01.gif) no-repeat center center; min-height:200px;}


/*=================================================================================
 * 텝
 =================================================================================*/
/* 텝 영역  영역 */
.basic_Teb_btn 																{ height:50px; }
.basic_Teb_btn ul 															{ float:left;}
/* 텝 활성화 */
.basic_Teb_btn .basic_PageTeb_Up 									{ list-style: none; }
.basic_Teb_btn .basic_PageTeb_Up li 								{ float:left;  height:45px;}
.basic_Teb_btn .basic_PageTeb_Up .Teb_Up_L 					{width:6px; background:url(../images/content/teb_Up_bg.gif) no-repeat left top;}
.basic_Teb_btn .basic_PageTeb_Up .Teb_Up_M 				{  text-align:center; padding:0 10px 0 10px; line-height:35px;  font-family:'굴림'; font-size:13px; font-weight:bold;color:#243884; background:url(../images/content/teb_Up02.gif) no-repeat center top;}
.basic_Teb_btn .basic_PageTeb_Up .Teb_Up_R 					{ width:6px; background:url(../images/content/teb_Up_bg.gif) no-repeat right top;}
/* 텝 비활성화 */
.basic_Teb_btn .basic_PageTeb_Dw 								{ list-style: none; }
.basic_Teb_btn .basic_PageTeb_Dw li 								{ float:left;  height:45px;}
.basic_Teb_btn .basic_PageTeb_Dw .Teb_Dw_L 				{width:6px; background:url(../images/content/teb_Dw_bg.gif) no-repeat left top;}
.basic_Teb_btn .basic_PageTeb_Dw .Teb_Dw_M 				{ text-align:center; padding:0 10px 0 10px; line-height:37px; color:#243884; background:url(../images/content/teb_Dw_bg.gif) no-repeat center top;}
.basic_Teb_btn .basic_PageTeb_Dw .Teb_Dw_R 				{ width:6px; background:url(../images/content/teb_Dw_bg.gif) no-repeat right top;}
.basic_Teb_btn .basic_PageTeb_Dw .Teb_Dw_M a				{ color:#444;}
.basic_Teb_btn .basic_PageTeb_Dw .Teb_Dw_M a:hover 	{font-family:'굴림'; font-size:13px; font-weight:bold;color:#243884;}
.basic_Teb_btn .basic_PageTeb_Dw li a.All 						{font-family:'굴림'; font-size:13px; font-weight:bold;color:#ff6600;}



/*=================================================================================
 * 기관담당자 의견등록 // 2012년 10월 23일 추가
 =================================================================================*/
/* 기관담당자 텝 */
.Gi-Tap 												{ height:29px; border-bottom:2px #8866de solid;}
.Gi-Tap ul li 										{ float:left; margin-right:1px;}
/* 안내글 */
.Gi-Guide .Guide li 								{ background:url(../images/content/Gg_guide_Bg.gif) no-repeat right top;}
.Gi-Guide .Guide li.Title 						{}
.Gi-Guide .Guide li.Content 					{ padding:10px 28px 10px 25px; line-height:20px; font-weight:bold; background: url(../images/content/Gg_guide_Line01.gif) repeat-y left;}
/* 안내글 삽입 */
.Gi-Guide .GText-input  						{ padding-right:9px; padding-left:6px; padding-bottom:12px; background:url(../images/content/Gg_guide_Bg.gif) no-repeat right bottom;}
.Gi-Guide .GText-input li 						{ padding: 2px 10px 2px 10px;}
.Gi-Guide .GText-input li.top 				{ border-top:1px #cfcfcf solid; padding-top:5px;}
.Gi-Guide .GText-input li.File				{ margin-top:10px; background:url(../images/icon/basic_ListDot.gif) repeat-x top; }
.Gi-Guide .GText-input li.File img 			{ vertical-align:middle;}
.Gi-Guide .GText-input li textarea 			{ height:55px; width:780px;}
.Gi-Guide .GText-end li 								{ background:url(../images/content/Gg_guide_Bg2.gif) no-repeat right bottom;}

/* 의견등록 //121220 수정 */
.Gi-Comment 										{ background:url(../images/content/Gg_Con_Bg.gif) no-repeat left top;}
.Gi-Comment ul li.Comment 					{ padding-left:16px;} 
.Gi-Comment ul li.Btn_File  					{ height:25px; padding:4px 0 0 16px;}
.Gi-Comment ul li.File							{ margin:0 20px 0 15px; padding-top:8px; background:url(../images/icon/basic_ListDot.gif) repeat-x top; }
.Gi-Comment ul li.File p						{ padding-bottom:3px;}
.Gi-Comment ul li.End							{ background:url(../images/content/Gg_Con_Bg.gif) no-repeat left bottom; height:15px;}
.Gi-Comment ul li textarea 					{ height:65px; width:780px;}
.Gi-Comment ul li input 						{ width:600px; margin-right:5px;}

/* 의견등록 리스트 테이블 */
.Gi-Comnent-List								{ width:100%;}
.Gi-Comnent-List thead tr th 				{ padding:7px 0 6px 0; border-top:2px #9c9c9c solid; background-color:#ededed; color:#534c41; text-align:center; } 
.Gi-Comnent-List thead tr th.Btmline 		{ border-bottom:1px #dad9d9 solid;}
.Gi-Comnent-List thead tr th.S-Menu 	{ background-color:#f3f3f3; border:1px #dad9d9 solid; border-bottom:1px #dad9d9 solid;}
.Gi-Comnent-List tbody tr td 				{ padding:7px 20px 6px 20px; text-align:center; color:#666; border-bottom:1px #dad9d9 solid; vertical-align:top;}
.Gi-Comnent-List tbody tr td.com1 		{ text-align:center; width:120px; color:#6e87c6; font-size:11px; background:url(../images/icon/Icon_Box_01.gif) no-repeat center center;}
.Gi-Comnent-List tbody tr td.Left 			{ text-align:left;}
.Gi-Comnent-List tbody tr td.Sum			{ color:#444; text-align:right;}
.Gi-Comnent-List tbody .Total 		    	{ font-weight:bold; background-color:#f0f0f0;}
.Gi-Comnent-List tbody .SumTotal			{ font-weight:bold; background-color:#ece6fd;}
.Gi-Comnent-List tbody tr td a 				{ color:#666;}
.Gi-Comnent-List tbody tr td a:hover 		{ color:#666;}
/* 추천 아이콘 버튼 */
.Gi-Comnent-List tbody tr td a.btn_Recommend {display:inline-block;padding-right:3px;background:url(../images/btn/btn_Recommend.gif) no-repeat 100% 0;font-family:'돋움',dotum;font-size:12px; line-height:24px; text-decoration:none !important;white-space:nowrap}  
.Gi-Comnent-List tbody tr td a.btn_Recommend span,a.btn_Recommend strong  {display:block; padding:0px 5px 0 55px ;background:url(../images/btn/btn_Recommend.gif) no-repeat left top;color:#fc5a0e; font-weight:bold;} 
/* 반대 아이콘  버튼 */
.Gi-Comnent-List tbody tr td a.btn_Opposite {display:inline-block;padding-right:3px;background:url(../images/btn/btn_Opposite.gif) no-repeat 100% 0;font-family:'돋움',dotum;font-size:12px; line-height:24px; text-decoration:none !important;white-space:nowrap}  
.Gi-Comnent-List tbody tr td a.btn_Opposite span,a.btn_Opposite strong  {display:block; padding:0px 5px 0 55px ;background:url(../images/btn/btn_Opposite.gif) no-repeat left top;color:#137daa; font-weight:bold;} 
/* 댓글 쓰기 */
.Comment_AreaUp 													{ border-top:2px #fff solid; background-color:#f3f3e7;}
.Comment_Write 														{ padding:5px 6px 0 0;}
.Comment_Write ul li 												{ float:left;}
.Comment_Write ul li textarea 									{ height:45px; padding:5px; line-height:18px; color:#666; border:1px #ccc solid; vertical-align:top;}
.Comment_Write ul li.Title 											{ background:url(../images/icon/icon_Answer_Write.gif) no-repeat 15px top; padding-left:34px; margin-right:10px; font-weight:bold;}
.Comment_Write ul li.Write 										{ text-align:left;}
.Comment_Write ul li.Write textarea 							{ width:700px;}
.Comment_Write ul li.Btn 											{ padding:3px 0 0 70px;}
/* 댓글 */
.Gi-Comnent-List tbody tr.Comment 							{ border-top:2px #fff solid; background-color:#f0f0f0;}
* html .Gi-Comnent-List tbody tr.Comment 					{ border-top:2px #fff solid; background-color:#f0f0f0;}
.Gi-Comnent-List tbody tr td.ID 									{ border-top:2px #fff solid; background:#f0f0f0 url(../images/icon/icon_Answer_crow.gif) no-repeat 10px 8px; padding-left:27px;}
.Gi-Comnent-List tbody tr td.Day 								{ border-top:2px #fff solid; background:#f0f0f0 ;}
.Gi-Comnent-List tbody tr td.Content 							{ border-top:2px #fff solid; background:#f0f0f0;}
/* 댓글 파일 다운로드 및 버튼 */
.Gi-Comnent-List tbody tr.Comment .FileDown 			{ background:url(../images/icon/basic_ListDot.gif) repeat-x top; padding-top:5px;}
.Gi-Comnent-List tbody tr.Comment .FileDown .File 	{ float:left; background:url(../images/icon/disk02.gif) no-repeat 5px 3px; padding-left:20px;}
.Gi-Comnent-List tbody tr.Comment .FileDown .Btn 		{ float:right; padding-right:5px;}
.Gi-Comnent-List tbody tr.Comment .FileDown .Btn li 	{ float:left; margin-left:3px;}
























