
@charset "utf-8";

/*
 * =================================================================================
 * INFORMATION
 * ---------------------------------------------------------------------------------
 * @File Name 	: Footer.css
 * @Description :  Footer Style Sheet
 * @Version 	: 1.0.0
 * @Create Date : 2012.08.21
 * @Update Date : N/A
 * @History		: N/A
 * =================================================================================
 */



/*=================================================================================
 * Main Footer Default Style Definition
 =================================================================================*/
.LY-MainFooter 					{clear:both;	height:94px;}
.LY-MainFooter ul 				{ float:left;}
.LY-MainFooter ul li img 		{ margin:0; padding:0; vertical-align:top;}
/* 로고 */
.LY-MainFooter .Logo 		{ width:212px; padding-top:14px; }
/* 주소 */
.LY-MainFooter .Add-Infor 	{ width:586px; padding-top:14px; }
/* 링크 */
.Footer-Link 				{ padding-top:10px;}
.Footer-Link li 			{ padding-bottom:2px;}
.Footer-Link li select	{ width:160px; height:20px; background:url(../images/footer/Footer_InputBg.gif) no-repeat left top; border:0px; }

/*=================================================================================
 * Footer Default Style Definition
 =================================================================================*/
.LY-Footer ul 				{ float:left;}
.LY-Footer ul li img 	{ margin:0; padding:0; vertical-align:top;}
/* 로고 */
.LY-Footer .Logo 		{ width:212px; padding-top:14px; }
/* 주소 */
.LY-Footer .Add-Infor 	{ width:586px; padding-top:14px; }
/* 링크 */
.Footer-Link 				{ padding-top:10px;}
.Footer-Link li 			{ padding-bottom:2px;}
.Footer-Link li select	{ width:160px; height:20px; background:url(../images/footer/Footer_InputBg.gif) no-repeat left top; border:0px; }
/* 서브페이지 하단 footer */
.Footer-Wrap 				{ width:1000px; margin:0 auto;}


