@charset "utf-8";
html,body {height:100%;}

#wrap{position:relative; border-top:5px solid #3f77d5; width:100%; min-height:100%;}

/* header */
#header{width:100%;}
#header .head{position:relative; margin:-5px auto; padding:20px 0 15px; overflow:hidden; background: url(../img/bg/bg_haeder.gif) no-repeat left top; width:990px; height:45px;}
.head h1{position:absolute; left:30px; top:20px;}
.head .nav-bx{float:right;}
.head .nav-bx .nav-lst {margin:3px 3px 0 0;}
.head .nav-bx .nav-lst li:first-child{background:none;}
.head .nav-bx .nav-lst li{float:left; padding:0 9px; background: url(../img/common/nav_line.gif) no-repeat left 6px;}
.head .nav-bx .nav-lst li a{font-weight:bold; font-size:12px; color:#1d1d1d;}

.head .nav-bx .search-bx{padding:2px 7px 5px 12px; border:2px solid #7c7c7c; width:220px;}
.head .nav-bx .search-bx label{margin-right:15px; color:#000; font-size:12px;}
.head .nav-bx .search-bx input{border:0;margin:0; color:#b0b0b0; font-size:12px; width:120px;}
.head .nav-bx .search-bx .search-btn{font-size:0; line-height:0; color:#fff; text-indent:-9999px; background: url(../img/common/icon_search.gif) no-repeat left; width:13px; height:16px;}

/* gnb */
.gnb{position:relative; z-index:949;border-top:1px solid #e4e4e4;width:100%; background:#fff url(../img/bg/nav_bg.gif) 0 bottom repeat-x;}
.gnb .gnbContainer{margin:0 auto; width:980px; height:43px;}
.gnb ul li{float:left; border-right:1px solid #e4e4e4; height:39px;}
.gnb ul li:first-child {border-left:1px solid #e4e4e4;}
.gnb ul li a{padding:12px 24px; font-weight:bold; font-size:17px; color:#474747;}
.gnb ul li.on a, 
.gnb ul li a:hover{color:#d23962;}
.gnb ul li>div{position:absolute; top:43px; left:0; width:100%; min-width:980px; height:39px; display:none; background-color:#fff; border-bottom:1px solid #bcbcbc;}
.gnb ul li>div>div.snb-box{width:980px; margin:0 auto;  }
.gnb ul li>div>div>ul{position:relative; width:980px; margin:0 auto; top:-2px;}
.gnb ul li>div>div>ul>li{float:left; border:none;  background:url(../img/bg/nav_line.gif) left center no-repeat;}
.gnb ul li>div>div>ul>li a{font-weight:bold; font-size:13px; color:#666666 !important; padding:10px 15px !important;}
.gnb ul li>div>div>ul>li:first-child {border:none; background:none;}
.gnb ul li>div>div>ul>li.on a, 
.gnb ul li>div>div>ul>li a:hover{color:#d23962 !important;}

/* all-menu */
.all-menu a{padding-left:20px; margin-top:10px; color:#cf3860; font-weight:bold; font-size:16px; background: url(../img/common/icon_plus.gif) no-repeat left center;}

/* container */
#container{position:relative; margin:0 auto; padding:0 0 210px 10px; width:980px;}

/* lnb */
.lnb{position:absolute; left:10px; top:40px;}
.lnb .tit-area{padding-left:20px; margin-bottom:22px;}
.lnb .tit-area h2{font-size:35px; line-height:35px; font-weight:normal; color:#d23962; letter-spacing:-2px;}
.lnb .tit-area h2.develop-lnb{font-size:28px; line-height:28px;}

.lnb .tit-area span{margin:7px 0 0 5px;}

.lnb-lst li:first-child{border-top:1px solid #d9d9d9;}
.lnb-lst li{border-bottom:1px solid #d9d9d9; width:199px; height:31px;}
.lnb-lst li a{padding-left:33px; display:block; color:#262626; font-size:13px; font-weight:bold; letter-spacing:-1px; line-height:33px; width:166px; height:33px;}
.lnb-lst li.on a{color:#fff; background:url(../img/common/lnb_bg.gif) no-repeat;}

.content{position:relative; margin-left:220px; padding-top:20px; width:760px;}

/* location */
.location li:first-child{padding-left:0; background:none; vertical-align:bottom;}
.location li:first-child a{vertical-align:bottom;}
.location li{float:left; padding-left:10px; margin-right:6px; background:url(../img/common/location_arrow.gif) no-repeat left 5px; height:15px;}
.location li a{color:#595959; font-size:12px; font-weight:bold;vertical-align:top;}
.location li.on a{color:#d23962;}

/* section  */
.section {padding-right:20px;}
.section .tit-area{margin-top:30px; padding-bottom:15px; border-bottom:2px solid #4c4c4c;}
.section .tit-area h3{margin-bottom:5px; padding-left:15px; font-size:25px; color:#262626; letter-spacing:-1px; line-height:25px; background:url(../img/common/h3_line.gif) no-repeat left;}
.section .tit-area p{font-size:12px; color:#767676;}
.section .tit-area p.txt-f{font-size:11px; letter-spacing:-1px;}

/* foot */
#footer{clear:both; position:absolute; bottom:0; left:0; right:0; border-top:1px solid #e4e4e4; background:#bcbdc0; width:100%;}
#footer .footer{position:relative; padding:20px 0; margin:0 auto; width:1020px;}
#footer .footer .foot-logo{position:absolute; left:20px; top:30px;}
#footer .footer .add{float:left; padding-left:200px; font-size:11px;}
#footer .footer .add-lst li:first-child{padding-left:0; background:none;}
#footer .footer .add-lst li{float:left; padding:0 8px; background: url(../img/common/foot_line.gif) no-repeat left }
#footer .footer .add-lst li a{color:#514c4c; font-weight:bold; font-size:12px;} 
#footer .footer address{margin:15px 0 0; color:#4c4c4c;}
#footer .footer .copyright{color:#4c4c4c; font-size:11px;}

#footer .family-site{float:right;}
#footer .family-site .txt{margin-right:30px; color:#423b3b; font-size:19px; font-weight:bold; background: url(../img/common/foot_img.gif) no-repeat center bottom; height:95px;}
#footer .bn-service{color:#fff; width:191px;}
#footer .bn-service strong{font-size:19px;}
#footer .bn-service p{margin:5px 0 8px; font-size:12px; color:#fff; letter-spacing:-1px; line-height:16px}
#footer .bn-service div{margin-bottom:5px;}
#footer .bn-service select{border:0; margin-right:3px; padding:5px 0 0 8px; background:#898989; font-size:11px; color:#fff; width:150px; height:25px;}
#footer .bn-service .btn-go{background:#7a7a7a;width:28px; height:25px;}
#footer .bn-service .btn-go a{color:#fff; font-weight:bold; text-align:center; line-height:23px; width:28px; height:25px;}

/* popup 전체보기 */
#dimm{position:fixed;top:0;left:0;right:0;bottom:0;z-index:990;background:#000000 !important;opacity:0.75;filter:alpha(opacity=75)}
#popAll{position:absolute;z-index:999}

#pop{position:relative; padding:35px 40px; background:#fff; z-index:999; width:655px; height:420px;}
#pop .btn-close{display:block; position:absolute; right:40px; top:46px; background:url(../img/icon/btn_close.gif) no-repeat left; width:27px; height:27px;}
#pop .btn-close span{font-size:0; line-height:0; text-indent:-9999px; color:#fff;}
#pop .tit{margin-bottom:30px; padding-bottom:35px; border-bottom:2px solid #34373a;}
#pop .tit strong{font-size:36px; line-height:30px;  color:#333;}
#pop .tit p{margin-top:15px; font-size:14px; color:#666;}
#pop .menu{padding-left:15px; padding-bottom:20px; border-bottom:1px solid #999b9c;}
#pop .menu .txt{position:relative; margin-bottom:25px;}
#pop .menu .txt a{color:#333; font-size:18px;}
#pop .menu .txt ul{clear:both; overflow:hidden; position:absolute; left:230px; top:0;}
#pop .menu .txt ul li:first-child{background:none;}
#pop .menu .txt ul li{float:left; padding-left:20px; margin-left:20px; background:url(../img/icon/pop_line.gif) no-repeat left;}
#pop .menu .txt ul li a{color:#34373a; font-size:14px;}

/* popup 회원가입 */
#pop-join{position:relative; padding:35px 40px; background:#fff; z-index:999; width:500px; height:210px;}
#pop-join .btn-close{display:block; position:absolute; right:40px; top:46px; background:url(../img/icon/btn_close.gif) no-repeat left; width:27px; height:27px;}
#pop-join .btn-close span{font-size:0; line-height:0; text-indent:-9999px; color:#fff;}
#pop-join .btn-close span{font-size:0; line-height:0; text-indent:-9999px; color:#fff;}
#pop-join .tit{ padding-bottom:35px; }
#pop-join .tit strong{font-size:26px; line-height:26px;  color:#333;}
#pop-join .bdl-n{border-left:none;}
#pop-join select{border:1px solid #cbcbcb; font-weight:normal; font-size:12px; color:#24292c; line-height:12px; padding:1px 1px 1px 5px; background-color:#f9f9f9;}
