/*
* 	Owl Carousel Owl Demo Theme 
*	v1.3.2
*/


/* visual */
.visual .item{position:relative; background: url(../img/main/main_visual01.gif) no-repeat center; text-align:center;margin: 0 auto; min-width:980px; height:673px;}
/*.visual .item .txt{margin-left:354px; padding-top:40px; width:1600px; min-width:980px;}*/
#visual.owl-theme .owl-controls{position:absolute; left:50%; top:15px; text-align: center;}
#visual.owl-theme .owl-controls.clickable .owl-buttons div:hover{filter: Alpha(Opacity=100);/*IE7 fix*/ opacity: 1;}

/* Styling Pagination*/
#visual.owl-theme .owl-controls .owl-page{display: inline-block; zoom:1; *display: inline;/*IE7 life-saver */}

#visual.owl-theme .owl-controls .owl-page span{display:block; margin:0 3px; background:url(../img/main/btn_v_off.png) no-repeat; background-size:100%; width: 20px;height: 19px;}
#visual.owl-theme .owl-controls .owl-page.active span,
#visual.owl-theme .owl-controls.clickable .owl-page:hover span{filter: Alpha(Opacity=100);/*IE7 fix*/ opacity: 1; background:url(../img/main/btn_v_on.png) no-repeat; background-size:100%; width:43px; height:19px;}


/* banner*/
#owl-banner.owl-theme .owl-controls{position:absolute; right:3px; top:-5px; text-align: center;}
#owl-banner.owl-theme .owl-controls.clickable .owl-buttons div:hover{filter: Alpha(Opacity=100);opacity: 1;}

/* Styling Pagination*/
#owl-banner.owl-theme .owl-controls .owl-page{display: inline-block; zoom:1; *display: inline;}
#owl-banner.owl-theme .owl-controls .owl-page span{display:block; margin:20px 3px; background:url(../img/main/btn_bn_off.png) no-repeat; width: 10px;height: 10px;}
#owl-banner.owl-theme .owl-controls .owl-page.active span,
#owl-banner.owl-theme .owl-controls.clickable .owl-page:hover span{filter: Alpha(Opacity=100);opacity: 1; background:url(../img/main/btn_bn_on.png) no-repeat; background-size:100%; width:21px; height:10px;}



