@charset "utf-8";

/* 자료실 2014-06-21 김민서 */
.data-con{margin-top:40px; padding:80px 0 0 360px; background: url(../img/sub/data_bg.gif) no-repeat 0 0; width:370px; height:350px;}
.data-con .txt{margin:35px 0 40px; color:#636565; font-size:30px; letter-spacing:-1px;}

/* input-area */
.input-set input[type="text"] {border:1px solid #e5e5e5; background:#f9f9f9 !important;}

/* 2014-06-21 온라인 스탭 02*/
.inquiry-bx {background: url(../img/bg/inquiry_bg.gif) no-repeat 0 0; height:322px;}
.inquiry-bx ul li {float:left; margin-top:33px; width:345px; text-align:center;}
.inquiry-bx ul li a{display:block;position:absolute;}
.inquiry-bx ul li a img:first-child{padding-left:80px; *margin-left:-200px;}
/*.inquiry-bx ul li a img.txt1{position:absolute;top:200px; left:183px; *left:0px}*/
/*.inquiry-bx ul li a img.txt2{position:absolute;top:200px; left:183px; *left:0px}*/

.inquiry-list {margin-top:25px; background: url(../img/bg/inquiry_bg02.gif) no-repeat 0 0;  height:201px;  padding:15px 20px 0;}
.inquiry-list h4 {border-bottom:2px solid #1f8eba; padding-bottom:10px; }
.inquiry-list .best:first-child {margin-left:0px;}
.inquiry-list .best {float:left; width:340px; position:relative; margin-left:20px; }
.inquiry-list .best .more a{position:absolute; top:20px; right:0; font-weight:bold; color:#bababa;}
.inquiry-list .best .list li a{font-size:12px;}
.inquiry-list .best .list li:first-child {margin-top:15px;}
.inquiry-list .best .list li {background: url(../img/bg/inquiry_number.gif) no-repeat 0 0; padding-left:20px; height:16px; line-height:16px; margin-top:6px;}
.inquiry-list .best .list li.num02 {background-position: 0 -16px;}
.inquiry-list .best .list li.num03 {background-position: 0 -32px;}
.inquiry-list .best .list li.num04 {background-position: 0 -48px;}
.inquiry-list .best .list li.num05 {background-position: 0 -64px;}

.inquiry-icon {background: url(../img/bg/inquiry_list_bg.gif) no-repeat 0 0; width:87px; height:16px; text-align:center; line-height:16px; font-size:10px; color:#fff;  vertical-align:top; margin-right:8px;}

/* tab */
.tab-type01 ul{border-bottom:1px solid #ededed;}
.tab-type01 ul li{float:left; border:1px solid #ededed; border-left:none; border-bottom:none; }
.tab-type01 ul li a{display:inline-block; padding:9px 20px 8px; color:#7c7c7c; font-weight:bold; font-size:14px;letter-spacing: -1px}
.tab-type01 ul li.on{border:1px solid #b9294f; background-color:#d23962;}
.tab-type01 ul li.on a{color:#ededed;}

/* my page */
.my-bx h4 {font-size:20px; font-weight:bold; padding:0 0 5px 1px; }
.my-bx .bx{width:565px; height:146px; background: url(../img/bg/my_bx01.gif) no-repeat 0 0 ; float:left; padding:15px 10px 20px 20px; }

.my-bx .inquiry {float:left; width:240px;}
.my-bx ul {margin-top:15px;}
.my-bx ul li {background: url(../img/bg/icon_bg01.gif) no-repeat 0 0; padding-top:85px; margin-left:5px; text-align:center; font-weight:bold; float:left; width:73px; height:100px;}
.my-bx .inquiry ul li:first-child {margin-left:5px;}
.my-bx .inquiry ul li {color:#d13962;}
.my-bx .inquiry ul li.bg01 {background-position:-0px 0;}
.my-bx .inquiry ul li.bg02 {background-position:-73px 0;}
.my-bx .inquiry ul li.bg03 {background-position:-146px 0;}

.my-bx .sinmungo {float:left; width:324px;}
.my-bx .sinmungo ul li:first-child {margin-left:8px;}
.my-bx .sinmungo ul li {color:#6094c3;}
.my-bx .sinmungo ul li.bg01 {background-position:-219px 0;}
.my-bx .sinmungo ul li.bg02 {background-position:-292px 0;}
.my-bx .sinmungo ul li.bg03 {background-position:-365px 0;}
.my-bx .sinmungo ul li.bg04 {background-position:-438px 0;}
.my-bx  ul li span {color:#000; vertical-align:top;}

.my-bx .red {color:#d13962; border-bottom:1px solid #e3e3e3;}
.my-bx .blue {color:#6094c3; border-bottom:1px solid #e3e3e3; margin-left:15px;}
.my-bx .orange {color:#f6b20e}

.my-bx .scrap{width:120px; height:146px; text-align:center;  padding:15px 10px 20px 10px; background: url(../img/bg/my_bx02.gif) no-repeat 0 0 ; float:left; margin-left:5px;}
.my-bx .scrap .number {color:#f6b20e; width:73px; height:100px;  font-weight:bold; margin:0 auto; margin-top:16px; background: url(../img/bg/icon_bg01.gif) no-repeat -511px 0; padding-top:85px;}
.my-bx .scrap .number span {color:#000; vertical-align:top;}


/* 온라인신문고 2014-06-21 김민서 */
.sinmungo01{margin-top:20px; padding-top:15px; background:url(../img/sub/sinmungo_bg.gif) no-repeat; background-size:100% 100%; text-align:center; width:747px; height:167px;}
.sinmungo01 h4{color:#262626; font-size:20px;}
.sinmungo01 ul{margin:13px auto 8px auto; padding-top:105px; text-align:center; background:url(../img/sub/sinmungo01.gif) no-repeat center top; width:600px;}
.sinmungo01 ul li:first-child{margin-left:65px;}
.sinmungo01 ul li{float:left; margin-left:25px; color:#262626; font-size:14px; font-weight:bold; width:100px;}


/* 센터소개  2014-06-23 김민서*/
.center-bx{padding-bottom:70px; background:url(../img/sub/center_bg.gif) no-repeat right top;}
.center-bx h4{margin-bottom:5px; color:#313131; font-size:44px; line-height:44px;}
.center-bx .txt{margin-bottom:30px; color:#686767; font-size:14px;}
.center-bx li{padding-left:90px; margin-bottom:20px; background:url(../img/sub/center_bg01.gif) no-repeat 7px top; width:330px; min-height:80px;}
.center-bx li p{color:#686767; font-size:13px;}
.center-bx .bg01{background-position:7px -106px;}
.center-bx .bg02{background-position:7px -291px;}
.center-bx .tit {margin-bottom:5px;}
.center-bx .tit span{margin-right:10px; color:#6095c3; font-size:18px; font-weight:bold;}
.center-bx .tit.color-p span{color:#d23962;}
.center-bx .tit.color-y span{color:#d5ae35;}
.center-bx .tit strong{margin-right:2px; color:#313131; font-size:13px;}

.center-lst{margin:10px 0 35px; border-top:1px solid #f4f4f4; border-bottom:1px solid #f4f4f4;}
.center-lst .info:first-child{border:0;}
.center-lst .info{position:relative; float:left;width:258px; height:260px;border-left:1px solid #ececec; background:url(../img/sub/center_lst_blue01.gif) no-repeat center 30px;}
.center-lst .info.bg01{width:242px;}
.center-lst .info.bg02{width:230px;}
.center-lst .info.bg01{background:url(../img/sub/center_lst_blue02.gif) no-repeat center 30px;}
.center-lst .info.bg02{background:url(../img/sub/center_lst_blue03.gif) no-repeat center 30px;}

.center-lst .info div{padding:150px 10px 20px 10px; text-align:center;}
.center-lst .info strong{margin-bottom:10px; color:#333; font-size:20px;}
.center-lst .info .lst-type li{color:#6c6c6c; font-size:11px; line-height:15px; margin-bottom:5px;}
.center-lst .info .arrow{z-index:9;position:absolute; right:-12px; top:50px; background: url(../img/sub/center_arrow.png) no-repeat right; width:24px; height:62px;}

.center-info{margin-top:10px; padding-top:20px; border-top:1px solid #f1f1f1;}
.center-info li{padding-left:10px; color:#6c6c6c; font-size:13px; background:url(../img/sub/bullet_black.gif) no-repeat left center;}
.center-info li strong{color:#323131; font-size:13px;}
.center-info li.txt{background:url(../img/sub/bullet_pink.gif) no-repeat left center;}
.center-info li.txt strong{color:#d23962;}
.center-info li.txt01{background:url(../img/sub/bullet_blue.gif) no-repeat left center;}
.center-info li.txt01 strong{color:#6095c3;}


/* 국가연구개발 - 사업추진체계 2014-06-23 김민서  */
.develop-tbl {margin-top:30px; background:#eef9fc; border-top:2px solid #474747;}
.develop-tbl li:first-child{border:0; width:119px;}
.develop-tbl li{float:left; padding:13px 0; color:#3a7fa3; font-size:14px; font-weight:bold; border-left:1px solid #e2e2e2; text-align:center; width:207px;}
.develop-tbl li.last{width:204px;}

.develop-txt{margin-top:20px; color:#767676; font-size:12px;}
.develop-txt a{color:#3a7fa3; font-size:12px; text-decoration:underline;}


/*  국가연구개발 사업이란> 정의 및 법령체계 2014-06-23  고재광 */
/*.develop02 .dif-bx h4{font-size:43px; font-weight:normal;color:#313131; line-height: 43px;}*/
.develop02 .dif-bx h4{padding-left:15px;font-size:25px; font-weight:bold;color:#262626; line-height: 25px; background: url("../img/common/h3_line.gif") no-repeat scroll left center rgba(0, 0, 0, 0)}
.develop02-bx{background:url(../img/bg/development02_bg.gif) right 13px no-repeat;}
.develop02-bx .ex-txt{color:#b4274d; font-weight:bold;}
/*.develop02-bx .tit-area{letter-spacing:-0.5px;}*/
.develop02 .dif-bx h5.line-bottom {width:385px;padding-bottom:10px;border-bottom:2px solid #4c4c4c;}
.develop02 .dif-bx p.dif-txt{margin-bottom:30px; width:450px; line-height:22px; font-size:13px; color:#686767;}
.develop02 .dif-bx .dif2-bx{border-top:2px solid #4b4b4b; border-bottom:2px solid #4b4b4b;}
.develop02 .dif-bx .dif2-bx dl dd{padding-bottom:20px;}
.develop02 .dif-bx .dif2-bx dl dd.b-line{border-bottom:1px solid #eeeeee;}
.develop02 .dif-bx .dif2-bx dl dt{margin-left:-5px;font-weight:bold; font-size:12px; color:#222222; }
.develop02 .dif-bx .dif2-bx dl dd, .develop02 .dif-bx .dif2-bx dl dd ul li{font-size: 12px; color:#474747; }
.develop02 .dif-bx .tbl-type01 th{font-size:12px; color:#3a7fa3;}



/* 2014-07-25 sitemap */
.sitemap-area{*zoom:1;}
.sitemap-area:after{content:"";clear:both;display:block;}
.sitebox{float:left;width:228px;height:200px;padding-left:25px;}
.sitebox.rnd, .sitebox.notic{padding-left:0;}
.sitebox h3{display:block;height:36px; padding-top:15px;padding-left:10px;margin-bottom:20px;}
.sitebox h3 a{font-size:18px;line-height:25px; color:#fff;}
.sitebox ul {padding-left:15px;}
.sitebox ul li a{font-size:13px;padding-bottom:5px; color:#000000;}

.rnd h3{background-color:#6095c3;}
.rnd ul li{padding-left:20px;background:url(../img/sub/bullet_site01.gif) 0px 8px no-repeat; }

.online h3{background-color:#f5cb49;}
.online ul li{padding-left:20px;background:url(../img/sub/bullet_site02.gif) 0px 8px no-repeat; }

.sinmungo h3{background-color:#aaca5c;}
.notic h3{background-color:#959191;}
.notic ul li{padding-left:20px;background:url(../img/sub/bullet_site03.gif) 0px 8px no-repeat; }
.data h3{background-color:#2a4266;}
.data ul li{padding-left:20px;background:url(../img/sub/bullet_site04.gif) 0px 8px no-repeat; }
.center h3{background-color:#d23962;}


/* 2014-07-24  정현주 private */
.private,.private p,.private li{color:#333;}
.private h4{padding-left:20px;margin-bottom:20px;background:url(../img/sub/bullet_big.gif) 0 0 no-repeat;font-size:16px;}
.private p{padding:0 0 10px 20px;font-size:13px;}
.private .private_box{padding:15px 25px 0 0;margin-bottom:30px;background-color:#fafafa;border:1px solid #ddd;}
.private .private_box > p{margin-bottom:15px;}
.private dl{margin-bottom:40px;}
.private dl dt{height:14px;line-height:14px;padding-left:20px;margin-bottom:20px;font-weight:bold;background:url(../img/sub/bullet_tri.gif) 5px 0 no-repeat;}
.private dl dd{padding-left:20px;margin-bottom:20px;}
.private ul.private_list01{padding-left:15px;}
.private ul.private_list01 > li{padding-left:15px;margin-bottom:5px;background:url(../img/sub/bullet_pink.gif) 5px 6px no-repeat;}
.private ul.private_list01 span{padding:10px 0;}
.private strong{padding-left:20px;margin-bottom:10px;background:url(../img/sub/bullet_cir.gif) 5px 4px no-repeat;}
.private ul.private_list02 > li{margin:10px 0 0 25px;list-style-type:lower-alpha;}



/* 2014-07-24 search */
.search-item{margin-top:40px;}
.search-item h3{padding-left:28px;margin-bottom:12px;background:url(../img/sub/bullet_rect_search.gif) 0 0 no-repeat; font-size:20px; color:#4c4c4c;}
.search-item dl dt{clear:both; padding:11px 19px; border-top:2px solid #4c4c4c; border-bottom:1px solid #cccccc;background-color:#f9f9f9; font-size:12px; color:#666666;}
.search-item dl dt strong{font-size:16px;color:#b4274d;}
.search-item dl dt span.date{float:right; font-size:12px;color:#333333;}
.search-item dl dd{margin:25px 40px; font-size:13px;color:#333333;}


/* 2014-07-25  정현주 email */
.email,.email p,.email li{color:#333;}
.email .email_box{padding:15px 25px 0 25px;margin-bottom:30px;background-color:#fafafa;border:1px solid #ddd;}
.email p{padding-bottom:15px;font-size:13px;}
.email h4{padding-left:25px;margin-bottom:15px;background:url(../img/sub/bullet_big.gif) 0 0 no-repeat;font-size:16px;}
.email ol{margin:0 0 35px 45px;}
.email ol > li{margin-bottom:10px;list-style-type:decimal;}
.email ol > li > ul{margin-left:30px;padding:15px 0 5px 0;}
.email ol > li > ul li{margin-bottom:3px;list-style-type:lower-alpha;}


/* 2014-07-28 회원가입 완료*/
.welcome{padding:70px 0;padding-left:238px;border-top: 2px solid #474747; border-bottom: 1px solid #474747; background-color:#fafafa;}
.welcome .welcome-bx{background:url(../img/sub/join_result.gif) 0 0 no-repeat;}
.welcome .welcome-bx strong{padding-left:63px;padding-top:3px;font-size:18px;color:#000000;}
.welcome .welcome-bx p{padding-left:63px;font-size:14px; line-height:20px;color:#686767;}